<div class="row">
  <uxg-chart
    [multiSelect]="true"
    (onClick)="onClick($event)"
    (onSelected)="onSelected($event)"
    (onDoubleClick)="onDoubleClick($event)"
  >
    <uxg-legend [position]="legendPosition"></uxg-legend>
    <uxg-trace
      *ngFor="let trace of traces"
      [dimension]="trace.dimension"
      [dimensionName]="trace.dimensionName"
      [measure]="trace.measure"
      [measureName]="trace.measureName"
      [type]="trace.type"
    ></uxg-trace>
  </uxg-chart>
  <uxg-chart
    [multiSelect]="true"
    (onClick)="onClick($event)"
    (onSelected)="onSelected($event)"
    (onDoubleClick)="onDoubleClick($event)"
  >
    <uxg-legend [position]="legendPosition"></uxg-legend>
    <uxg-trace
      *ngFor="let trace of traces2"
      [dimension]="trace.dimension"
      [dimensionName]="trace.dimensionName"
      [measure]="trace.measure"
      [measureName]="trace.measureName"
      [type]="trace.type"
    ></uxg-trace>
  </uxg-chart>
</div>

<uxg-chart (onClick)="onClick($event)" (onSelected)="onSelected($event)" (onDoubleClick)="onDoubleClick($event)">
  <uxg-legend [position]="legendPosition"></uxg-legend>
  <uxg-group-traces columnPosition="0">
    <uxg-trace
      *ngFor="let trace of traces"
      [dimension]="trace.dimension"
      [dimensionName]="trace.dimensionName"
      [measure]="trace.measure"
      [measureName]="trace.measureName"
      [type]="trace.type"
    ></uxg-trace>
  </uxg-group-traces>
  <uxg-group-traces columnPosition="1">
    <uxg-trace
      *ngFor="let trace of traces2"
      [dimension]="trace.dimension"
      [dimensionName]="trace.dimensionName"
      [measure]="trace.measure"
      [measureName]="trace.measureName"
      [type]="trace.type"
      orientation="horizontal"
    ></uxg-trace>
  </uxg-group-traces>
  <uxg-group-traces rowPosition="1">
    <uxg-trace
      *ngFor="let trace of traces3"
      [dimension]="trace.dimension"
      [dimensionName]="trace.dimensionName"
      [measure]="trace.measure"
      [measureName]="trace.measureName"
      [type]="trace.type"
    ></uxg-trace>
  </uxg-group-traces>
  <uxg-group-traces rowPosition="1" columnPosition="1">
    <uxg-trace
      *ngFor="let trace of traces4"
      [dimension]="trace.dimension"
      [dimensionName]="trace.dimensionName"
      [measure]="trace.measure"
      [measureName]="trace.measureName"
      [type]="trace.type"
    ></uxg-trace>
  </uxg-group-traces>
</uxg-chart>
