<uxg-global-search
  #uxgGlobalSearch
  [resultItemTemplate]="tmpl"
  [groupBy]="'accountType'"
  [showFilter]="true"
  [itemDivider]="false"
  [groupDivider]="true"
  [maxItems]="5"
  itemsLayout="row"
>
  <button mat-stroked-button type="button" (click)="uxgGlobalSearch.openSearch()" color="accent" large>
    <mat-icon>search</mat-icon>&nbsp;Search
  </button>
</uxg-global-search>

<ng-template #tmpl let-result>
  <div>
    {{ result | json }}
  </div>
  <!-- {{result.nickname}}
  {{result.balances[0].amount}} {{result.accountType}} -->
</ng-template>
