<uxg-global-search
  #uxgGlobalSearch
  [resultItemTemplate]="tmpl"
  (searchTermChange)="onSearchTermChange($event)"
  [results]="results"
  (resultItemClick)="onResultItemClick($event)"
>
  <button mat-stroked-button type="button" (click)="uxgGlobalSearch.openSearch()" color="accent" large>
    <mat-icon>search</mat-icon>&nbsp;Search
  </button>
</uxg-global-search>

<br />
<br />

<uxg-global-search
  #uxgGlobalSearchGrouped
  [resultItemTemplate]="tmpl"
  [groupBy]="'accountType'"
  [showFilter]="true"
  [groupDivider]="true"
  (searchTermChange)="onSearchTermChange($event)"
  [results]="results"
  (resultItemClick)="onResultItemClick($event)"
>
  <button mat-stroked-button type="button" (click)="uxgGlobalSearchGrouped.openSearch()" color="accent" large>
    <mat-icon>search</mat-icon>&nbsp;Search (grouped)
  </button>
</uxg-global-search>

<ng-template #tmpl let-result>
  <div>
    <mat-card class="mat-elevation-z3" dense>
      <mat-card-title>{{ result.nickname }}</mat-card-title>
      <mat-card-subtitle>{{ result.balances[0].amount }} {{ result.accountType }}</mat-card-subtitle>
    </mat-card>
  </div>
</ng-template>
