import { customElement, LitElement, html, property } from 'lit-element';

import { styles } from './styles.css';

@customElement('fds-<%=fileName %>')
export class <%=className %> extends LitElement {
  static styles = styles;

  @property()
  name = ''


  render() {
    return html`<p>Hello, ${this.name}!</p>`;
  }
}

declare global {
  interface HTMLElementTagNameMap {
    'fds-<%=fileName %>': <%=className %>;
  }
}
