@use "@material/elevation" with (
  $umbra-opacity: 0.16,
  $penumbra-opacity: 0.11,
  $ambient-opacity: 0.09
);

@mixin core-styles() {
  @include elevation.core-styles();
}

///
/// Applies CSS box-shadow to an element to apply requested z-index elevation.
/// @param {Number} $z-value - The elevation between in 0 and 24.
///
@mixin elevation($z-value) {
  @include elevation.elevation($z-value);
}
