<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^2/webcomponents-bundle.js"></script>
    <title>fds</title>
  </head>
  <body>
    <h1 class="mdc-theme--primary">Hello world</h1>
    <button class="mdc-button mdc-button--unelevated">
      <span class="mdc-button__label">mdc</span>
    </button>
    <mwc-button class='dark' unelevated label="mwc"></mwc-button>
  </body>
</html>