@use '@finastra/fds-theme';

@use '@finastra/fds-theme/color';
@use '@finastra/fds-theme/elevation';
@use '@finastra/fds-theme/typography';
@use '@finastra/fds-theme/spacing';


body {
    @include color.property(background, background);
    @include color.property(color, text-primary-on-background);
}

.demo {
    margin: 10px;
}

.swatch {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @include elevation.z(5);
}
