@use '@finastra/fds-theme' as fds;
@use '@finastra/fds-theme/dark' with ( $class: 'dark-theme' );
@use '@finastra/fds-theme/helpers';

//  @include fds.use-light-theme();

body {
    @include fds.bg-color(background);
    @include fds.text-color(on-background);
}

.swatch {
    // @include fds.margin(3);
    // @include fds.elevation(2);

    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-headline-1 {
    @include fds.typography(headline-1);
    @include fds.text-color(gradient-horizontal);
    @include fds.margin(6, top, left);

    display: inline-block;
}

// @media (prefers-color-scheme: dark) {
//     @include fds.use-dark-theme();
// }