@use '@finastra/fds-theme' as fds;
@use '@finastra/fds-theme/light-theme' as light-theme;
@use '@finastra/fds-theme/color/helpers' as color-helper;
@use '@finastra/fds-theme/typography/helpers' as typo-helper;

@include light-theme.use();
body {
    //background: var(--fds-background);
    @include fds.bg-color(background);
}

.swatch {
    @include fds.margin(3);
    @include fds.elevation(2);

    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-headline1 {
    @include fds.typography(headline1);
}
