import { html, LitElement } from 'lit';
import { customElement, property } from 'lit/decorators.js';

import { styles } from './styles.css';

@customElement('fds-{{ dashCase name }}')
export class {{ properCase name }} extends LitElement {
  static styles = styles;

  @property({ type: String })
  name = ''


  render() {
    return html`<p>Hello, ${this.name}!</p>`;
  }
}

declare global {
  interface HTMLElementTagNameMap {
    'fds-{{ dashCase name }}': {{ properCase name }};
  }
}