# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*   @aifrim @bcldvd @ttalbot

# Repository management
/scripts/   @aifrim
/tools/     @aifrim

# Themes and style files
/themes/    @studios-team
*.scss      @studios-team
*.css       @studios-team
*.png       @studios-team
*.jpeg      @studios-team
*.jpg       @studios-team
*.svg       @studios-team

# Per components owners
/libs/angular-components/global-search/     @aifrim
/libs/angular-components/scroll-to-top/     @aifrim
/libs/angular-components/table/             @Ping-YUAN
/libs/angular-components/popover/           @rbordeanu
