@use '@finastra/fds-theme' as fds;

:host {
  display: block;
}

.apexcharts-legend-series {
  cursor: pointer;
  line-height: normal;
  display: flex;
  gap: 4px;
  align-items: center;

  .apexcharts-legend-text {
    @include fds.color(on-surface);
  }
}
