# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/testresults
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.history
junit.xml
finastra-design-system.iml

# System Files
.DS_Store
Thumbs.db

themes/angular-theme/prebuit-theme

# build
/_site/
/libs/web-components/**/*.js
/libs/web-components/**/*.js.map
/libs/web-components/**/*.d.ts
/libs/web-components/**/*.css
/libs/web-components/**/*.css.map
/libs/web-components/**/*.js
/libs/web-components/**/*.js.map
/libs/web-components/**/*.tgz
/libs/web-components/**/*.css.ts
/libs/web-components/**/dist
/libs/web-components/**/package-lock.json
**/*.tsbuildinfo*
compile
storybook-static
**/coverage
**/tsc-out
storybook-static
