:root {
  --fds-primary: #694ED6;
  --mdc-theme-primary: var(--fds-primary);
  --fds-primary-lighter: rgba(105, 78, 214, 0.08);
  --mdc-theme-primary-lighter: var(--fds-primary-lighter);
  --fds-secondary: #C137A2;
  --mdc-theme-secondary: var(--fds-secondary);
  --fds-background: #FAFAFA;
  --mdc-theme-background: var(--fds-background);
  --fds-surface: #FFFFFF;
  --mdc-theme-surface: var(--fds-surface);
  --fds-success: #008744;
  --mdc-theme-success: var(--fds-success);
  --fds-error: #E40046;
  --mdc-theme-error: var(--fds-error);
  --fds-gradient: linear-gradient(#694ED6, #C137A2);
  --mdc-theme-gradient: var(--fds-gradient);
  --fds-gradient-horizontal: linear-gradient(90deg ,#694ED6, #C137A2);
  --mdc-theme-gradient-horizontal: var(--fds-gradient-horizontal);
  --fds-gradient-vertical: linear-gradient(#694ED6, #C137A2);
  --mdc-theme-gradient-vertical: var(--fds-gradient-vertical);
  --fds-on-primary: #FFFFFF;
  --mdc-theme-on-primary: var(--fds-on-primary);
  --fds-on-secondary: #FFFFFF;
  --mdc-theme-on-secondary: var(--fds-on-secondary);
  --fds-on-background: rgba(0, 0, 0, 0.75);
  --mdc-theme-on-background: var(--fds-on-background);
  --fds-on-surface: #000000;
  --mdc-theme-on-surface: var(--fds-on-surface);
  --fds-on-error: #FFFFFF;
  --mdc-theme-on-error: var(--fds-on-error);
  --fds-on-success: #FFFFFF;
  --mdc-theme-on-success: var(--fds-on-success);
  --fds-on-gradient: #FFFFFF;
  --mdc-theme-on-gradient: var(--fds-on-gradient);
  --fds-text-high-on-background: rgba(0, 0, 0, 0.75);
  --mdc-theme-text-high-on-background: var(--fds-text-high-on-background);
  --fds-text-medium-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-medium-on-background: var(--fds-text-medium-on-background);
  --fds-text-hint-on-background: rgba(0, 0, 0, 0.29);
  --mdc-theme-text-hint-on-background: var(--fds-text-hint-on-background);
  --fds-text-disabled-on-background: rgba(0, 0, 0, 0.12);
  --mdc-theme-text-disabled-on-background: var(--fds-text-disabled-on-background);
  --fds-text-icon-on-background: rgba(0, 0, 0, 0.29);
  --mdc-theme-text-icon-on-background: var(--fds-text-icon-on-background);
  --fds-text-high-on-light: rgba(0, 0, 0, 0.75);
  --mdc-theme-text-high-on-light: var(--fds-text-high-on-light);
  --fds-text-medium-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-medium-on-light: var(--fds-text-medium-on-light);
  --fds-text-hint-on-light: rgba(0, 0, 0, 0.29);
  --mdc-theme-text-hint-on-light: var(--fds-text-hint-on-light);
  --fds-text-disabled-on-light: rgba(0, 0, 0, 0.29);
  --mdc-theme-text-disabled-on-light: var(--fds-text-disabled-on-light);
  --fds-text-icon-on-light: rgba(0, 0, 0, 0.29);
  --mdc-theme-text-icon-on-light: var(--fds-text-icon-on-light);
  --fds-text-high-on-dark: white;
  --mdc-theme-text-high-on-dark: var(--fds-text-high-on-dark);
  --fds-text-medium-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-medium-on-dark: var(--fds-text-medium-on-dark);
  --fds-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-hint-on-dark: var(--fds-text-hint-on-dark);
  --fds-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: var(--fds-text-disabled-on-dark);
  --fds-text-icon-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: var(--fds-text-icon-on-dark);
  --fds-font-family: Roboto;
  --fds-headline-font-family: Spartan;
  --fds-headline-1: normal normal 800 3.1875rem/4.4375rem Spartan;
  --fds-headline-2: normal normal 800 2.5625rem/3.5625rem Spartan;
  --fds-headline-3: normal normal 800 1.75rem/2.4375rem Spartan;
  --fds-headline-4: normal normal 800 1.3125rem/1.8125rem Spartan;
  --fds-headline-5: normal normal 800 1rem/1.375rem Spartan;
  --fds-headline-6: normal normal 800 0.8125rem/1.125rem Spartan;
  --fds-subtitle-1: normal normal 500 1rem/1.5rem Roboto;
  --fds-subtitle-2: normal normal 500 0.875rem/1.3125rem Roboto;
  --fds-subtitle-3: normal normal 500 0.75rem/1.125rem Roboto;
  --fds-body-1: normal normal 300 1rem/1.5rem Roboto;
  --fds-body-2: normal normal 300 0.875rem/1.3125rem Roboto;
  --fds-body-3: normal normal 300 0.75rem/1.125rem Roboto;
  --fds-button: normal normal 700 0.875rem/1.25rem Roboto;
  --fds-caption: normal normal 400 0.75rem/1.125rem Roboto;
  --fds-overline: normal normal 500 0.625rem/0.9375rem Roboto;
  --fds-spacing-0: 0;
  --fds-spacing-1: 4px;
  --fds-spacing-2: 8px;
  --fds-spacing-3: 16px;
  --fds-spacing-4: 24px;
  --fds-spacing-5: 48px;
  --fds-spacing-6: 96px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fds-primary: #917EE0;
    --mdc-theme-primary: var(--fds-primary);
    --fds-primary-lighter: rgba(145, 126, 224, 0.08);
    --mdc-theme-primary-lighter: var(--fds-primary-lighter);
    --fds-secondary: #E453BF;
    --mdc-theme-secondary: var(--fds-secondary);
    --fds-background: #191919;
    --mdc-theme-background: var(--fds-background);
    --fds-surface: #242424;
    --mdc-theme-surface: var(--fds-surface);
    --fds-success: #008744;
    --mdc-theme-success: var(--fds-success);
    --fds-error: #E40046;
    --mdc-theme-error: var(--fds-error);
    --fds-gradient: linear-gradient(#917EE0, #E453BF);
    --mdc-theme-gradient: var(--fds-gradient);
    --fds-gradient-horizontal: linear-gradient(90deg ,#917EE0, #E453BF);
    --mdc-theme-gradient-horizontal: var(--fds-gradient-horizontal);
    --fds-gradient-vertical: linear-gradient(#917EE0, #E453BF);
    --mdc-theme-gradient-vertical: var(--fds-gradient-vertical);
    --fds-on-primary: #000000;
    --mdc-theme-on-primary: var(--fds-on-primary);
    --fds-on-secondary: #000000;
    --mdc-theme-on-secondary: var(--fds-on-secondary);
    --fds-on-background: rgba(255, 255, 255, 0.75);
    --mdc-theme-on-background: var(--fds-on-background);
    --fds-on-surface: #FFFFFF;
    --mdc-theme-on-surface: var(--fds-on-surface);
    --fds-on-error: #FFFFFF;
    --mdc-theme-on-error: var(--fds-on-error);
    --fds-on-success: #FFFFFF;
    --mdc-theme-on-success: var(--fds-on-success);
    --fds-on-gradient: #000000;
    --mdc-theme-on-gradient: var(--fds-on-gradient);
    --fds-text-high-on-background: rgba(255, 255, 255, 0.75);
    --mdc-theme-text-high-on-background: var(--fds-text-high-on-background);
    --fds-text-medium-on-background: rgba(255, 255, 255, 0.54);
    --mdc-theme-text-medium-on-background: var(--fds-text-medium-on-background);
    --fds-text-hint-on-background: rgba(255, 255, 255, 0.29);
    --mdc-theme-text-hint-on-background: var(--fds-text-hint-on-background);
    --fds-text-disabled-on-background: rgba(255, 255, 255, 0.12);
    --mdc-theme-text-disabled-on-background: var(--fds-text-disabled-on-background);
    --fds-text-icon-on-background: rgba(255, 255, 255, 0.29);
    --mdc-theme-text-icon-on-background: var(--fds-text-icon-on-background);
    --fds-text-high-on-light: rgba(0, 0, 0, 0.75);
    --mdc-theme-text-high-on-light: var(--fds-text-high-on-light);
    --fds-text-medium-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-medium-on-light: var(--fds-text-medium-on-light);
    --fds-text-hint-on-light: rgba(0, 0, 0, 0.29);
    --mdc-theme-text-hint-on-light: var(--fds-text-hint-on-light);
    --fds-text-disabled-on-light: rgba(0, 0, 0, 0.29);
    --mdc-theme-text-disabled-on-light: var(--fds-text-disabled-on-light);
    --fds-text-icon-on-light: rgba(0, 0, 0, 0.29);
    --mdc-theme-text-icon-on-light: var(--fds-text-icon-on-light);
    --fds-text-high-on-dark: white;
    --mdc-theme-text-high-on-dark: var(--fds-text-high-on-dark);
    --fds-text-medium-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-medium-on-dark: var(--fds-text-medium-on-dark);
    --fds-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-hint-on-dark: var(--fds-text-hint-on-dark);
    --fds-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: var(--fds-text-disabled-on-dark);
    --fds-text-icon-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: var(--fds-text-icon-on-dark);
    --fds-font-family: Roboto;
    --fds-headline-font-family: Spartan;
    --fds-headline-1: normal normal 800 3.1875rem/4.4375rem Spartan;
    --fds-headline-2: normal normal 800 2.5625rem/3.5625rem Spartan;
    --fds-headline-3: normal normal 800 1.75rem/2.4375rem Spartan;
    --fds-headline-4: normal normal 800 1.3125rem/1.8125rem Spartan;
    --fds-headline-5: normal normal 800 1rem/1.375rem Spartan;
    --fds-headline-6: normal normal 800 0.8125rem/1.125rem Spartan;
    --fds-subtitle-1: normal normal 500 1rem/1.5rem Roboto;
    --fds-subtitle-2: normal normal 500 0.875rem/1.3125rem Roboto;
    --fds-subtitle-3: normal normal 500 0.75rem/1.125rem Roboto;
    --fds-body-1: normal normal 300 1rem/1.5rem Roboto;
    --fds-body-2: normal normal 300 0.875rem/1.3125rem Roboto;
    --fds-body-3: normal normal 300 0.75rem/1.125rem Roboto;
    --fds-button: normal normal 700 0.875rem/1.25rem Roboto;
    --fds-caption: normal normal 400 0.75rem/1.125rem Roboto;
    --fds-overline: normal normal 500 0.625rem/0.9375rem Roboto;
    --fds-spacing-0: 0;
    --fds-spacing-1: 4px;
    --fds-spacing-2: 8px;
    --fds-spacing-3: 16px;
    --fds-spacing-4: 24px;
    --fds-spacing-5: 48px;
    --fds-spacing-6: 96px;
  }
}

/*# sourceMappingURL=all-themes.css.map */
