$uxg-toolbar-height: 56px;

.uxg-toaster-overlay {
    margin-top: $uxg-toolbar-height;
}

.demo-component {
    padding-bottom: 32px;
}

.config {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.documentation{
    width: 50%;
    border-collapse: collapse;
    tr{
        font-family: Roboto, sans-serif;
        border-bottom: 1px solid #E6ECF1;
        td{
            padding: 8px;
        }
        &.header{
            color: #9DAAB6;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            border-bottom: 2px solid #E6ECF1;
            white-space: nowrap;
        }
    }
}