@use '@finastra/fds-theme' as fds;

:host {
  display: block;
}

.fds-tab-group-wrapper {
  @include fds.property(background-color, background);

  display: flex;
  flex-direction: column;

  .fds-tab-group-tab-bar {
    align-self: flex-start;
  }

  .fds-tab-group-tab-bar[position='center'] {
    align-self: center;
  }

  .fds-tab-group-tab-bar[position='start'] {
    align-self: flex-start;
  }

  .fds-tab-group-tab-bar[position='end'] {
    align-self: flex-end;
  }

  .fds-tab-content-wrapper {
    @include fds.property(background-color, background);
    @include fds.property(color, on-background);
    @include fds.typography(body-1);
  }
}
