<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Finastra DS Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="icon" type="x-icon" href="./tools/view/icons/favicon.ico" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" as="style" type="text/css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Material+Icons&display=block"
      as="style"
      type="text/css"
    />
    <script type="module" src="node_modules/@material/mwc-icon-button/mwc-icon-button.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet" />
    <link href="./tools/view/css/styles.css" rel="stylesheet" />

    <!-- Theme -->
    <link href="node_modules/@finastra/light-theme/light-theme.css" rel="stylesheet" data-theme="white" />
    <script type="module" src="node_modules/@finastra/logo/logo.js"></script>
    <script type="module" src="node_modules/@material/mwc-top-app-bar-fixed/mwc-top-app-bar-fixed.js"></script>
    <script type="module" src="node_modules/@material/mwc-list/mwc-list.js"></script>
    <script type="module" src="node_modules/@material/mwc-icon/mwc-icon.js"></script>
  </head>
  <body>
    <% include header.html %>
    <div class="main">
      <% include list-components.html %>
      <section class="main-content"><%- body %></section>
    </div>
  </body>
</html>
