<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Finastra DS Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="icon" type="x-icon" href="./tools/view/icons/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Spartan:wght@800&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet" />

    <link href="./tools/dev-server/view/css/styles.css" rel="stylesheet" />

    <!-- Theme -->
    <script type="module" src="node_modules/@finastra/app-bar/dist/src/app-bar.js"></script>
    <script type="module" src="node_modules/@finastra/logo/dist/src/logo.js"></script>
    <script type="module" src="node_modules/@finastra/list/dist/src/index.js"></script>
    <script type="module" src="node_modules/@finastra/icon/dist/src/icon.js"></script>
    <script type="module" src="node_modules/@material/mwc-top-app-bar-fixed/mwc-top-app-bar-fixed.js"></script>
  </head>
  <body>
    <%- include('./header.html') %>
    <div class="main">
      <%- include('./list-components.html') %>
      <section class="main-content"><%- body %></section>
    </div>
  </body>
</html>
