<mat-drawer-container class="table-container">
  <div class="ffdc-table-demo-div">
    <uxg-table
      [data]="dataSource"
      [columns]="columns"
      [columnsToDisplay]="columnsToDisplay"
      [columnDragEnable]="dragEnable"
      [selectedKeys]="selectedIndex"
      [showTotalRows]="totalEnable"
      [totalData]="totalData"
      [stickyFooter]="stickyFooter"
      [pageEnable]="pageEnable"
      (sortChanged)="sortData($event)"
      [singleSelect]="singleSelect"
      [multiSelect]="!singleSelect"
      (selectChanged)="selectChange($event)"
      [enableEdit]="enableTableEdit"
      [enableDelete]="enableTableRowDelete"
      (rowRemoved)="rowDeleteEvent($event)"
      (rowUpdated)="rowEditEvent($event)"
      (multiSelectSingleRowClicked)="rowClickUnderMutiSelectMode($event)"
      [enableSend]="enableTableSendEvent"
      (rowSend)="rowSendClickEvent($event)"
      [actionColumnPosition]="actionColumnPosition"
    >
    </uxg-table>
  </div>

  <div fxLayout="row" fxLayoutAlign="start start" class="config-block">
    <div fxLayout="column" fxLayoutAlign="start start">
      <h4>Customized options</h4>
      <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <mat-slide-toggle [color]="" [checked]="dragEnable" (change)="enableDrag($event)"
            >Enable Drag Columns</mat-slide-toggle
          >
          <mat-slide-toggle [checked]="totalEnable" (change)="enableTotal($event)">Enable total</mat-slide-toggle>
          <mat-slide-toggle [checked]="pageEnable" (change)="enablePaging($event)">Enable paging</mat-slide-toggle>
          <mat-slide-toggle *ngIf="pageEnable" [checked]="customizedPage" (change)="enableCustomizedPaging($event)"
            >Enable customized paging
          </mat-slide-toggle>

          <mat-slide-toggle [checked]="enableTableEdit" (change)="enableTableEditChanged($event)"
            >Enable table edit</mat-slide-toggle
          >
          <mat-slide-toggle [checked]="enableTableRowDelete" (change)="enableTableRowDeleteChanged($event)"
            >Enable table remove</mat-slide-toggle
          >
          <mat-slide-toggle [checked]="enableTableSendEvent" (change)="enableTableRowSendChanged($event)"
            >Enable table row send</mat-slide-toggle
          >
        </div>
      </div>
    </div>
    <div class="selection-area" fxLayout="column" fxLayoutAlign="start start">
      <h5>Action column position</h5>
      <mat-radio-group fxLayout="column" [(ngModel)]="actionColumnPosition">
        <mat-radio-button [value]="'start'">start</mat-radio-button>
        <mat-radio-button [value]="'end'">end</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="selection-area" fxLayout="column" fxLayoutAlign="start start">
      <h5>Select Mode</h5>
      <mat-radio-group fxLayout="column" [(ngModel)]="singleSelect">
        <mat-radio-button [value]="true">single select</mat-radio-button>
        <mat-radio-button [value]="false">multiple select</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="set-selection-area" *ngIf="!singleSelect" fxLayout="column" fxLayoutAlign="start start">
      <h5>Set selection</h5>
      <mat-form-field>
        <mat-label>Selection</mat-label>
        <mat-select (selectionChange)="setSelectedKeys($event)" multiple>
          <mat-option *ngFor="let data of dataSource; let i = index" [value]="i">{{ data.API }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="actionDescription" class="interaction-information">
      <h4>Information:</h4>
      {{ actionDescription }}
    </div>
  </div>
</mat-drawer-container>

<h2>Description</h2>
<p>The table component is used to display the data in table form.</p>
<p>In this example, we compose a table using <code>uxg-table</code> component</p>
<p>With table component, you can display data, sort data, select data, etc</p>

<hr />

<h3>Table component</h3>
<p>
  The <code>uxg-table</code> component is based on the <code>mat-table</code> from angular material and also integrated
  with finastra design system
</p>
<p>There are three necessary inputs: <code>data</code>/<code>columns</code>/<code>columnsToDisplay</code></p>
<p>The <code>data</code> is a data array which contains the data to display in the table.</p>
<p>The <code>columns</code> is an array which contains the configuration of each columns.</p>
<p>The <code>columnsToDisplay</code> is an array which columns should display in the table.</p>
<p>
  If you want to add a specific class to a row. you can add an attribute "_class" and assign the class name string to
  it. This class will be added to the row and you can customize it by yourself
</p>
<p>
  There are others input and output that you can use to control the dispay style of table and interact with the table
  component.
</p>
<p>See more below:</p>

<h2>Properties</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        data:Array&lt;any&gt;[]
      </td>
      <td>
        An array of data.
        <span style="color: red">Do not use "_class" since it is used to add a customized class to the table row</span>
      </td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        columns:Array&lt;UxgColumn&gt;[]
      </td>
      <td>An array of column definiations.</td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        columnsToDisplay:Array&lt;string&gt;[]
      </td>
      <td>An array of column name which indicate which column should be visable in table.</td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        totalData:any
      </td>
      <td>This total input enable user customize the total cell.</td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        stickyHeader:boolean
      </td>
      <td>If stick the header or not. Default <code>true</code></td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        stickyFooter:boolean
      </td>
      <td>If stick the footer or not. Defalut <code>false</code></td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        showTotalRows:boolean
      </td>
      <td>If total row should be visiable or not. Default <code>false</code></td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        showTableHeader: boolean
      </td>
      <td>If you want to show table headers, Default <code>true</code>.</td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        columnDragEnable:boolean
      </td>
      <td>Enable column drag drop or not. Default <code>false</code></td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        selectedKeys:number[]
      </td>
      <td>The default selected rows index.</td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        singleSelect:boolean
      </td>
      <td>If table enable single select or not.</td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        multiSelect:boolean
      </td>
      <td>
        If table enable multi select or not. Default <code>false</code><br />
        single select mode has high priority than multi select mode.
      </td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        pageEnable:boolean
      </td>
      <td>If enable paging for the table or not. Default <code>false</code></td>
    </tr>
    <tr>
      <td>
        @Input()<br />
        paging: UxgPage
      </td>
      <td>When pageEnable to table, if needed, user can pass customized paging to table component.</td>
    </tr>
    <tr>
      <td>@Output()<br />selectChanged: EventEmitter&lt;UxgTableSelectEvent&gt;</td>
      <td>Event emitted when the selection of table changed.</td>
    </tr>
    <tr>
      <td>@Output()<br />multiSelectSingleRowClicked: EventEmitter&lt;UxgTableSelectEvent&gt;</td>
      <td>Event emitted when you are in multi-select mode but you click on one row not check the checkbox.</td>
    </tr>
    <tr>
      <td>@Output()<br />sortChanged: EventEmitter&lt;UxgSort&gt;</td>
      <td>If customized sort needed, you can use this output to do it.</td>
    </tr>
    <tr>
      <td>@Output()<br />pageChanged: EventEmitter&lt;PageEvent&gt;</td>
      <td>If customized paging needed, you can use this ouput to do it.</td>
    </tr>
    <tr>
      <td>@Input()<br />enableEdit</td>
      <td>If you want to enable edit a row on the table, if yes, one new column will be added by default</td>
    </tr>
    <tr>
      <td>@Input()<br />enableDelete</td>
      <td>If you want to enable delete a row on the table, if yes, one new column will be added by default</td>
    </tr>
    <tr>
      <td>@Input()<br />enableSend</td>
      <td>
        If you want to apply a customized event to row that is not the same with click on the row. you can enable this
        configuraiton and then use the output <code>rowSendEvent</code> to customized your own actions
      </td>
    </tr>
    <tr>
      <td>@Input()<br />actionColumnPosition: UxgActionColumnPosition</td>
      <td>
        by default action columnn located at end of the table(UxgActionColumnPosition.end), if you want to change it you
        can set it to 'UxgActionColumnPosition.start'
      </td>
    </tr>
    <tr>
      <td>@Output()<br />rowRemoved : EventEmitter&lt;any&gt;</td>
      <td>Emit the removed row, when you enable delete and click on the delete icon</td>
    </tr>
    <tr>
      <td>@Output()<br />rowUpdated : EventEmitter&lt;any&gt;</td>
      <td>Emit the edited row, when you enable edit and click on the confirm icon</td>
    </tr>
    <tr>
      <td>@Output()<br />rowSend : EventEmitter&lt;any&gt;</td>
      <td>Emit the current row data, when you enableSend and click on the send icon</td>
    </tr>
  </tbody>
</table>

<h2>Interfaces</h2>
<h3>UxgSort</h3>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Optional</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>active</td>
      <td>string</td>
      <td>no</td>
      <td>The column name</td>
    </tr>
    <tr>
      <td>direction</td>
      <td>SortDirection</td>
      <td>no</td>
      <td>Angular material SortDirection interface</td>
    </tr>
  </tbody>
</table>
<h3>UxgColumn</h3>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Optional</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>id</td>
      <td>string</td>
      <td>yes</td>
      <td>the unique id of data item</td>
    </tr>
    <tr>
      <td>name</td>
      <td>string</td>
      <td>no</td>
      <td>Column name</td>
    </tr>
    <tr>
      <td>type</td>
      <td>UxgColumnType</td>
      <td>no</td>
      <td>Column data type refer UxgColumnType for more information</td>
    </tr>
    <tr>
      <td>align</td>
      <td>string</td>
      <td>yes</td>
      <td>'left' | 'right' | 'center': string should be left align, number should be right align.</td>
    </tr>
    <tr>
      <td>displayName</td>
      <td>string</td>
      <td>yes</td>
      <td>Add a new label to display in the header row</td>
    </tr>
    <tr>
      <td>cellTemplate</td>
      <td>Object</td>
      <td>yes</td>
      <td>The view template to display your customized cell.</td>
    </tr>
    <tr>
      <td>cellEditTemplate</td>
      <td>Object</td>
      <td>yes</td>
      <td>The edit template to display your customized edit cell.When you enable edit to table</td>
    </tr>
    <tr>
      <td>cellEditTemplateEmiter</td>
      <td>Object</td>
      <td>yes</td>
      <td>The emiter you want to use in your template, if you need to trigger action on a click for example</td>
    </tr>
  </tbody>
</table>

<h3>UxgActionColumnPosition</h3>
<p>You can specify the position of the action cloumn. Start of the table or end of the table</p>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>value</td>
    </tr>
    <tr>
      <td>start</td>
      <td>start</td>
    </tr>
    <tr>
      <td>end</td>
      <td>end</td>
    </tr>
  </tbody>
</table>
<h3>UxgColumnType</h3>
<p>
  With the type you can specify the disply type and predefined align. For type <code>cellTemplate</code> You can used to
  add new template to customize your own cell. See more in advanced section
</p>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>value</td>
    </tr>
    <tr>
      <td>string</td>
      <td>string</td>
    </tr>
    <tr>
      <td>number</td>
      <td>number</td>
    </tr>
    <tr>
      <td>date</td>
      <td>date</td>
    </tr>
    <tr>
      <td>typedouble</td>
      <td>typedouble</td>
    </tr>
    <tr>
      <td>cellTemplate</td>
      <td>cellTemplate</td>
    </tr>
  </tbody>
</table>
<h3>UxgPage</h3>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Optional</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>disabled</td>
      <td>boolean</td>
      <td>yes</td>
      <td>If paging action is disabled or not. Default <code>false</code></td>
    </tr>
    <tr>
      <td>length</td>
      <td>number</td>
      <td>yes</td>
      <td>the length of the data</td>
    </tr>
    <tr>
      <td>hidePageSize</td>
      <td>boolean</td>
      <td>yes</td>
      <td>Hide the page size or not. Default <code>false</code></td>
    </tr>
    <tr>
      <td>showFirstLastButtons</td>
      <td>boolean</td>
      <td>yes</td>
      <td>show first last button or not. Default <code>true</code></td>
    </tr>
    <tr>
      <td>pageIndex</td>
      <td>number</td>
      <td>yes</td>
      <td>Page index. Default <code>0</code></td>
    </tr>
    <tr>
      <td>pageSize</td>
      <td>number</td>
      <td>yes</td>
      <td>Page size. Default <code>5</code></td>
    </tr>
    <tr>
      <td>pageSizeOptions</td>
      <td>number[]</td>
      <td>yes</td>
      <td>Page size range. Default <code>[5, 10]</code></td>
    </tr>
  </tbody>
</table>

<h3>UxgTableSelectEvent</h3>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Optional</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>singleSelect</td>
      <td>boolean</td>
      <td>no</td>
      <td>if single select mode or not.</td>
    </tr>
    <tr>
      <td>data</td>
      <td>any[]</td>
      <td>no</td>
      <td>selected row data</td>
    </tr>
  </tbody>
</table>

<h2>Advanced tips</h2>
<h3>Table cell template</h3>
<p>In table component, you can create your own customized cell template to customize your cell.</p>

<p>As you have ever read before, we have <code>UxgColumnType</code> definiations</p>
<p>There are properties: <code>cellTemplate</code>/<code>cellEditTemplate</code></p>
<p>And also there is a property in <code>UxgColumnType</code> called <code>cellTemplate</code></p>

<p>
  With those properties, you can add your own cell template. When you specify that the column type is
  <code>cellTemplate</code>, UxgTable will know that you want to use your own template for this column
</p>
<p>And the <code>cellTemplate</code> property means the template you want to use to display this column.</p>

<p>From table component, we will provide two paramters to your template <code>element</code> <code>column</code></p>
<p>
  With those two object, you can do what you want, <code>element</code> contains row data. <code>column</code> contains
  column definiation
</p>
<p>Here is an template exmaple, we want to display the revenue with currency.</p>

<p>With the element and column object we can access the data and display it.</p>

<pre>
    <code contenteditable spellcheck="false">
      &lt; ng-template #tableCellTypedCurrency let-element="element" let-column="column" &gt;
          <span>{{</span>element[column.name].amount <span>}} {{</span>element[column.name].currency <span>}}</span>
        cell template here 
      &lt;/ng-template &gt;
  </code>
</pre>
<ng-template #tableCellTypedCurrency let-element="element" let-column="column">
  {{ element[column.name].amount }} {{ element[column.name].currency }}
</ng-template>

<ng-template #tableCellTypedCurrencyEdit let-element="element" let-column="column"> edit cell </ng-template>

<ng-template #tableCellTable let-element="element" let-column="column" let-emiter="emiter">
  <uxg-table [data]="subData" [columns]="subColumns" [columnsToDisplay]="subColumnsToDisplay" [showTableHeader]="false">
  </uxg-table>
</ng-template>

<ng-template #tableCellAction let-element="element" let-column="column" let-emiter="emiter">
  <button (click)="$event.stopPropagation(); emiter.emit({ column: column, element: element })">click</button>
</ng-template>

<mat-drawer-container class="table-container">
  <div class="ffdc-table-demo-div">
    <uxg-table
      [data]="dataSource"
      [columns]="columnsCellTemplate"
      [columnsToDisplay]="columnsToDisplayCellTemplate"
      [columnDragEnable]="dragEnable"
      [selectedKeys]="selectedIndex"
      [showTotalRows]="totalEnable"
      [totalData]="totalData"
      [stickyFooter]="stickyFooter"
      [pageEnable]="pageEnable"
      (sortChanged)="sortData($event)"
      [singleSelect]="singleSelect"
      [multiSelect]="!singleSelect"
      (selectChanged)="selectChange($event)"
      [enableEdit]="enableTableEdit"
      [enableDelete]="enableTableRowDelete"
      (rowRemoved)="rowDeleteEvent($event)"
      (rowUpdated)="rowEditEvent($event)"
      (multiSelectSingleRowClicked)="rowClickUnderMutiSelectMode($event)"
      [enableSend]="enableTableSendEvent"
      (rowSend)="rowSendClickEvent($event)"
    >
    </uxg-table>
  </div>
</mat-drawer-container>
<h3>Table custom pagination</h3>

<mat-drawer-container class="table-container">
  <div class="ffdc-table-demo-div">
    <uxg-table
      [data]="customDataSource"
      [columns]="columnsCellTemplate"
      [columnsToDisplay]="columnsToDisplayCellTemplate"
      [pageEnable]="true"
      [paging]="customPaging"
      (pageChanged)="applyCustomPaging($event)"
    >
    </uxg-table>
  </div>
</mat-drawer-container>
