ffdc-table-demo {
    .table-container {
        height: 100%;
        border: 1px solid rgba(0,0,0,.04);
        box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    }
    
    .ffdc-table-demo-div {
        uxg-table {
            table {
                width: 100%;
            }
           
        }
    }
    .config-block{
        div{
            margin-bottom: 5px;
            .mat-slide-toggle{
                margin-right: 5px;
            }
        }
    }
    .set-selection-area{
        margin-left: 24px;
    }
    .selection-area{
        margin-left: 24px;
    }
    .interaction-information{
        margin-left: 24px;
    }
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}
:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px !important;
}
:host ::ng-deep .mat-form-field-label-wrapper { 
    top: -1.5em;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.documentation{
    width: 50%;
    border-collapse: collapse;
    tr{
        font-family: Roboto, sans-serif;
        border-bottom: 1px solid #E6ECF1;
        td{
            padding: 8px;
        }
        &.header{
            color: #9DAAB6;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            border-bottom: 2px solid #E6ECF1;
            white-space: nowrap;
        }
    }
}