<h2>Horizontal Status Stepper Example</h2>
<uxg-horizontal-status-stepper>
  <uxg-status-step>
    <span primary>Primary text</span>
    Secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span primary>No Secondary text</span>
  </uxg-status-step>
  <uxg-status-step>
    <span primary>Current Step text is bigger</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span primary>Some really really really really long text</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span primary>Step 5</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span primary>Done</span>
    secondary text
  </uxg-status-step>
</uxg-horizontal-status-stepper>
