<h2>Horizontal Status Stepper Example</h2>
<uxg-horizontal-status-stepper [currentStep]="3">
  <uxg-status-step>
    <span step-title>Primary text</span>
    Secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>No Secondary text</span>
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Current Step text is bigger</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Some really really really really long text</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Step 5</span>
    secondary text
  </uxg-status-step>
  <uxg-status-step>
    <span step-title>Done</span>
    secondary text
  </uxg-status-step>
</uxg-horizontal-status-stepper>
