$spacing-0: 0 !default;
$spacing-1: 4px !default;
$spacing-2: 8px !default;
$spacing-3: 16px !default;
$spacing-4: 24px !default;
$spacing-5: 48px !default;
$spacing-6: 96px !default;
$spacing-7: 192px !default;

$sides: top, bottom, right, left;

$properties: (
  spacing-0: $spacing-0,
  spacing-1: $spacing-1,
  spacing-2: $spacing-2,
  spacing-3: $spacing-3,
  spacing-4: $spacing-4,
  spacing-5: $spacing-5,
  spacing-6: $spacing-6,
  spacing-7: $spacing-7,
)
