<mat-card class="simple-card chart">
  <div class="trade-title">{{ data[columnsMatcher.forex] || 'forex' }}</div>
  <div #chart class="trade-chart">
    <svg></svg>
  </div>
  <div class="action">
    <div class="sell" (click)="updateData()">
      <div class="label">Sell</div>
      <div class="price">{{ sell }}</div>
    </div>
    <div class="buy">
      <div class="label">Buy</div>
      <div class="price">{{ buy }}</div>
    </div>
    <div class="spread" [ngClass]="{ down: isDown }">
      <mat-icon *ngIf="isDown">keyboard_arrow_down</mat-icon><mat-icon *ngIf="!isDown">keyboard_arrow_up</mat-icon>
    </div>
  </div>
  <div class="change">
    <div class="change-price">{{ lowest }}</div>
    <div class="change-title"><span>LOW/HIGH</span></div>
    <div class="change-price right">{{ highest }}</div>
  </div>
</mat-card>
