@use '@finastra/fds-theme' as fds;

:host {
  display: block;
  @include fds.mdc(theme-text-primary-on-background, on-background);
  @include fds.mdc(ripple-color, primary);

  --mdc-menu-item-height: var(--fds-menu-item-height, 48px);
  --mdc-menu-max-width: var(--fds-menu-max-width, calc(100vw - 32px));
  --mdc-menu-min-width: var(--fds-menu-min-width, 112px);
  --mdc-menu-max-height: var(--fds-menu-max-height, calc(100vh - 32px));
  --mdc-menu-z-index: var(--fds-menu-z-index, 8);
}
