.swatch {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
}

.swatchPrimary {
    background-color: rgba(var(--color-primary), 1);
}

.swatchSecondary {
    background-color: rgba(var(--color-secondary), 1);
}
.swatchWarn {
    background-color: rgba(var(--color-warn), 1);
}

.color-picker {
    padding: 0;
}
