@use '@finastra/card/src' as base-card;
@use '@finastra/fds-theme' as fds;

:host {
  min-width: 230px;
  @include base-card.core-styles;

  .account-content {
    display: flex;
    gap: var(--fds-spacing-2, 8px);
  }

  .account-icon {
    @include fds.margin(1, top);

    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include fds.background(surface-selected);
  }

  .account-name {
    @include fds.typography(body-1);
    @include fds.color(on-surface);
  }

  .account-balance {
    @include fds.typography(headline-5);
    @include fds.color(on-surface);
    @include fds.margin(4, top);
  }

  .account-number {
    @include fds.typography(body-3);
    @include fds.color(on-surface-medium);
    @include fds.padding(2, top, bottom);
    @include fds.padding(3, right, left);
  }

  .mdc-card--disabled .account-name,
  .mdc-card--disabled .account-balance,
  .mdc-card--disabled .account-number {
    @include fds.color(on-surface-disabled);
  }

  .mdc-card--disabled .account-icon {
    @include fds.background(surface-disabled);
  }
}
