@use '@finastra/fds-theme' as fds;

:host {
  @include fds.property(--mdc-theme-text-primary-on-background, on-background);

  fds-icon-button {
    align-self: center;

    --fds-icon-button-size: 32px;
    --mdc-icon-size: 20px;
  }
}

.filter-item {
  display: flex;
  justify-content: space-between;
}
