<div class="wrapper">
  <div class="title">Default</div>

  <uxg-search-input #search></uxg-search-input>
  <div class="title">With hint</div>
  <uxg-search-input hint="Search Api name or ID" placeholder="" style="width: 450px"></uxg-search-input>

  <div class="title">Custom placeholder</div>
  <uxg-search-input placeholder="Search Api name or ID" style="width: 550px"></uxg-search-input>

  <div class="title">Dense mode</div>
  <uxg-search-input dense placeholder="Search Api name or ID" style="width: 250px"></uxg-search-input>
</div>
