<div class="wrapper">
  <div class="title">Default, appearance type fill</div>

  <uxg-search-input #search></uxg-search-input>
  <div class="title">With hint, appearance type fill</div>
  <uxg-search-input hint="Search Api name or ID" placeholder="" style="width: 450px"></uxg-search-input>

  <div class="title">Custom placeholder, appearance type fill</div>
  <uxg-search-input placeholder="Search Api name or ID" style="width: 550px"></uxg-search-input>

  <div class="title">Dense mode, appearance type fill</div>
  <uxg-search-input dense placeholder="Search Api name or ID" style="width: 250px"></uxg-search-input>

  <div class="title">Default, appearance type outline</div>

  <uxg-search-input #search [appearance]="'outline'"></uxg-search-input>
  <div class="title">With hint, appearance type outline</div>
  <uxg-search-input hint="Search Api name or ID" [appearance]="'outline'" placeholder="" style="width: 450px"></uxg-search-input>

  <div class="title">Custom placeholder, appearance type outline</div>
  <uxg-search-input placeholder="Search Api name or ID" [appearance]="'outline'" style="width: 550px"></uxg-search-input>

  <div class="title">Dense mode, appearance type outline</div>
  <uxg-search-input dense placeholder="Search Api name or ID" [appearance]="'outline'" style="width: 250px"></uxg-search-input>
</div>
