@import 'angular-theme/lib/core/style/spacing';

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.popover {
  max-width: 400px !important;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: $uxg-spacing-4;
  button {
    margin-left: $uxg-spacing-3;
  }
}
