
import {html, fixture, expect, elementUpdated} from '@open-wc/testing';
import {<%=className %>} from '../src/<%= fileName %>.js';
import '../src/<%= fileName %>.js';

describe('<%=className %>', () => {
    it('loads accessibly', async () => {
        const el: <%=className %> = await fixture(html`<fds-<%= fileName %>></fds-<%= fileName %>>`);

        await elementUpdated(el);
        await expect(el).to.be.accessible();
    });
});