<h2>Simple card</h2>
<mat-card>
  <h3><uxg-skeleton-text animated style="width: 40%"></uxg-skeleton-text></h3>
  <uxg-skeleton-text animated></uxg-skeleton-text>
  <uxg-skeleton-text animated></uxg-skeleton-text>
</mat-card>

<br />

<h2>FFDC APIs card</h2>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <uxg-skeleton-text animated></uxg-skeleton-text>
    </div>
    <mat-card-title><uxg-skeleton-text animated></uxg-skeleton-text></mat-card-title>
    <mat-card-subtitle><uxg-skeleton-text animated style="width: 20%"></uxg-skeleton-text></mat-card-subtitle>
  </mat-card-header>

  <div class="chips">
    <uxg-skeleton-text animated style="width: 15%"></uxg-skeleton-text>
    <uxg-skeleton-text animated style="width: 15%"></uxg-skeleton-text>
    <uxg-skeleton-text animated style="width: 15%"></uxg-skeleton-text>
    <uxg-skeleton-text animated style="width: 15%"></uxg-skeleton-text>
  </div>

  <uxg-skeleton-text animated></uxg-skeleton-text>
  <uxg-skeleton-text animated></uxg-skeleton-text>
</mat-card>
