@import 'angular-theme/lib/core/style/spacing';

.example-card {
  width: 400px;
}

.example-row {
  margin-bottom: $uxg-spacing-4;
}

.mat-button-base + .mat-button-base,
.mat-icon + .mat-icon,
.mat-card + .mat-card,
.mat-button-toggle-group + .mat-button-toggle-group,
.mat-slide-toggle + .mat-slide-toggle {
  margin-left: $uxg-spacing-2;
}

.uxg-card-product {
  display: inline-block;
}

.uxg-card-solution {
  display: inline-block;
}
