.ffdc-repeater-demo-div{

    .orientation{
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        mat-select{
            width: 182px;
            margin-left: 20px;
        }
    }
    uxg-repeater{
        .viewport{
            width:100%;
            height:50vh;
        }
    }
}