.demonstration{
    uxg-repeater{
        margin-top: 10px;
        display: block;
        background-color: rgba(0,0,0,0.1);
        padding: 20px;
         .viewport{
            width:100%;
            height:50vh;
        }
    }
}
  

.configuration{
    >div{
        margin-bottom: 5px;
        .mat-slide-toggle{
            margin-right: 5px;
        }
        margin-left: 24px;
    }
   
  
    .component-area{
        width: 130px;
    }
    .interaction-information{
        max-width: 400px;
    }

    .mat-form-field-infix{
        border-top-width: 0;
    }

    mat-radio-button{
        margin-bottom: 5px;
    }

    uxp-field-matcher{
        display: flex;
        max-width: 465px;
        flex-wrap: wrap;
        mat-form-field{
            max-width: 150px;
            margin-right: 5px;
        }
    }
}

.documentation{
    width: 50%;
    border-collapse: collapse;
    tr{
        font-family: Roboto, sans-serif;
        border-bottom: 1px solid #E6ECF1;
        td{
            padding: 8px;
        }
        &.header{
            color: #9DAAB6;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            border-bottom: 2px solid #E6ECF1;
            white-space: nowrap;
        }
    }
   
       
       
}

