<h2>Repeater</h2>
<div class="demonstration">
  <uxg-repeater
    [data]="dataSourceExample"
    [component]="componentExample"
    [orientation]="orientationExample"
    [columnsMatcher]="columnsMatcherExample"
    [space]="spaceExample"
    [multiSelect]="multiselectExample"
    [selectedKeys]="[0, 3]"
    (selectionChange)="displaySelection($event.value)"
  >
  </uxg-repeater>

  <mat-expansion-panel>
    <mat-expansion-panel-header aria-label="Expansion panel header"> </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutAlign="start start" class="configuration">
      <div class="orientation-area" fxLayout="column" fxLayoutAlign="start start">
        <h3>Orientation</h3>
        <mat-radio-group fxLayout="column" [(ngModel)]="orientationExample">
          <mat-radio-button value="horizontal">Horizontal</mat-radio-button>
          <mat-radio-button value="vertical">Vertical</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="orientation-area" fxLayout="column" fxLayoutAlign="start start">
        <h3>Selection</h3>
        <mat-radio-group fxLayout="column" [(ngModel)]="multiselectExample">
          <mat-radio-button [value]="false">Single select</mat-radio-button>
          <mat-radio-button [value]="true">Multi select</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="component-area" fxLayout="column" fxLayoutAlign="start start">
        <h3>Component</h3>
        <mat-select
          fxLayout="column"
          [(ngModel)]="currentTemplate"
          [value]="currentTemplate"
          [compareWith]="compareWith"
          (selectionChange)="updateTemplate()"
        >
          <mat-option *ngFor="let template of templatesData" [value]="template">
            {{ template.displayName }}
          </mat-option>
        </mat-select>
      </div>

      <div class="component-fields" fxLayout="column" fxLayoutAlign="start start">
        <h3>Component Fields</h3>
        <form [formGroup]="repeaterConfigurationForm" class="config">
          <ffdc-field-matcher formControlName="templateFieldsConfig" [fields]="columnsExample"></ffdc-field-matcher>
        </form>
      </div>

      <div fxLayout="column" *ngIf="actionDescription" class="interaction-information">
        <h3>Output:</h3>
        {{ actionDescription }}
      </div>
    </div>
  </mat-expansion-panel>
</div>

<h2>Description</h2>
<p>The repeater component allows you to repeat any kind of component.</p>
<p>It takes a <code>data</code> (datasource) and a <code>component</code> type as main input.</p>
<p>Repeatable components should contain at least a <code>data</code> input. The repeater will use it to inject data.</p>
<p>
  If you want to match a datasource column with one of your template data, you should provide a
  <code>columnsMatcher</code> input.
</p>

<h2>Inputs</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Default Value</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>data</td>
      <td>any[]</td>
      <td></td>
      <td>An array of any data</td>
    </tr>
    <tr>
      <td>component</td>
      <td>Type&lt;any&gt;</td>
      <td></td>
      <td>The component we want to repeat</td>
    </tr>
    <tr>
      <td>columnsMatcher</td>
      <td>object</td>
      <td></td>
      <td>An object listing the correspondance between a data columns and the component's templates data</td>
    </tr>
    <tr>
      <td>space</td>
      <td>string</td>
      <td></td>
      <td>
        The space between each repeated component. It's a string as it can be expressed in different units (px, ie, etc)
      </td>
    </tr>
    <tr>
      <td>orienation</td>
      <td>string</td>
      <td>horizontal</td>
      <td>Orientation of the repeater, can be 'horizontal' or 'vertical'</td>
    </tr>
    <tr>
      <td>multiSelect</td>
      <td>boolean</td>
      <td>false</td>
      <td>Define if the components can multi selected or not</td>
    </tr>
    <tr>
      <td>selectedKeys</td>
      <td>number[]</td>
      <td></td>
      <td>The default selected item index.</td>
    </tr>
  </tbody>
</table>

<h2>Outputs</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Default Value</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>selectionChange</td>
      <td>EventEmitter&lt;any&gt;</td>
      <td></td>
      <td>Selection Event</td>
    </tr>
  </tbody>
</table>
