@use 'sass:map';
@use 'angular-theme' as fds;

@mixin theme($theme) {
    $accent: map.get($theme, accent);
    $border-accent-color: fds.get-color-from-palette($accent, default);
    .simple-card{
        &.selected{
            border-bottom: 2px solid $border-accent-color;
        }
    }
  }
  