<mat-card class="card-demo simple-card" [ngClass]="{ selected: selected }">
  <div class="uxg-card-image-overlay">
    <img src="{{ data[columnsMatcher.photoPath] }}" alt="{{ data[columnsMatcher.title] }}" />
  </div>
  <mat-card-title> {{ data[columnsMatcher.title] || 'title' }}</mat-card-title>
  <mat-card-subtitle>{{ data[columnsMatcher.subtitle] || 'subtitle' }}</mat-card-subtitle>
  <mat-card-actions>
    <mat-icon>lock</mat-icon>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Card Menu button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" overlapTrigger="true">
      <button mat-menu-item aria-label="Redial button">
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled aria-label="Check voicemail button">
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item aria-label="Disable alerts button">
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
