<div class="wrapper">
  <div class="title">Default with menu</div>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="defaultBreadcrumbs"></uxg-breadcrumb>
  </mat-toolbar>

  <div class="title">Default with menu + primary color</div>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="defaultBreadcrumbs" color="primary"></uxg-breadcrumb>
  </mat-toolbar>

  <div class="title">Default without menu</div>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="defaultBreadcrumbsWithoutMenu"></uxg-breadcrumb>
  </mat-toolbar>

  <div class="title">Only one item</div>
  <mat-toolbar>
    <uxg-breadcrumb [breadcrumbs]="onlyOneItem"></uxg-breadcrumb>
  </mat-toolbar>

  <div class="title">Dense mode</div>
  <mat-toolbar>
    <uxg-breadcrumb dense [breadcrumbs]="defaultBreadcrumbsWithoutMenu"></uxg-breadcrumb>
  </mat-toolbar>

  <div class="title">Dense mode + accent color</div>
  <mat-toolbar>
    <uxg-breadcrumb dense [breadcrumbs]="defaultBreadcrumbsWithoutMenu" color="accent"></uxg-breadcrumb>
  </mat-toolbar>

  <!-- <uxg-search-input #search></uxg-search-input>
  <div class="title">
    With hint
  </div>
  <uxg-search-input hint="Search Api name or ID" placeholder="" style="width: 450px;"></uxg-search-input>

  <div class="title">
    Custom placeholder
  </div>
  <uxg-search-input placeholder="Search Api name or ID" style="width: 550px;"></uxg-search-input>

  <div class="title">
    Dense mode
  </div>
  <uxg-search-input dense placeholder="Search Api name or ID" style="width: 250px;"></uxg-search-input> -->
</div>
