@use '@material/button/button-theme';
@use "@material/button/styles";
@use "@material/shape";
@use "./typography";

@mixin core-styles() {
  .mdc-button,
  mwc-button {
    --mdc-shape-small: 22px;
    &.mdc-button--dense {
      @include button-theme.density(-2);
    }

    &.fds-button--secondary {
      --mdc-theme-primary: var(--mdc-theme-secondary);
    }
  
    &.fds-button--gradient {
      --mdc-theme-primary: var(--fds-theme-gradient);
      background: var(--mdc-theme-primary);
      border-radius: var(--mdc-shape-small);
    }
  }

  

}

@include core-styles();