@use 'sass:map';
@use '@material/theme/custom-properties';
@use '@material/theme/theme-color' as mat;
@use './mdc-theme' as mdc;
@use './foundations';

@mixin core-styles() {
  @include mdc.core-styles;
  :root {
    @each $property, $value in foundations.getProperties() {
      --mdc-theme-#{$property}: var(--fds-theme-#{$property});
    }
  }
}

@mixin property($property, $value) {
  @include mdc.property(
    $property: $property, 
    $value: custom-properties.create(--fds-theme-#{$value}, foundations.getProperty($value)),
  );
}

@mixin dark-theme() {
  #{if(&, '&', ':root')} {
    @each $property, $value in foundations.getProperties('dark') {
      $cust-prop: --fds-theme-#{$property};
      @include custom-properties.declaration(
        custom-properties.create($cust-prop, $value)
      )
    }
  }
}