$primary: #694ED6 !default;
$secondary: #C137A2 !default;
$background: #FAFAFA !default;
$surface: #FFFFFF !default;
$success: #008744 !default;
$error: #E40046 !default;
$gradient: linear-gradient(#694ED6, #C137A2) !default;
$on-primary: #FFFFFF !default;
$on-secondary: #FFFFFF !default;
$on-surface: #000000 !default;
$on-error: #FFFFFF !default;
$on-success: #FFFFFF !default;

$properties: (
  primary: $primary,
  secondary: $secondary,
  background: $background,
  surface: $surface,
  success: $success,
  error: $error,
  gradient: $gradient,
  on-primary: $on-primary,
  on-secondary: $on-secondary,
  on-surface: $on-surface,
  on-error: $on-error,
  on-success: $on-success,
  text-primary-on-background: #FFFFFF,
  text-secondary-on-background: #C137A2,
  text-hint-on-background: #694ED6,
  text-disabled-on-background: #694ED6,
  text-icon-on-background: #694ED6,
  text-primary-on-light: #694ED6,
  text-secondary-on-light: #694ED6,
  text-hint-on-light: #694ED6,
  text-disabled-on-light: #694ED6,
  text-icon-on-light: #694ED6,
  text-primary-on-dark: #694ED6,
  text-secondary-on-dark: #694ED6,
  text-hint-on-dark: #694ED6,
  text-disabled-on-dark: #694ED6,
  text-icon-on-dark: #694ED6,
)