.demo-component {
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "description description"
        "config component";
}

.description {
    grid-area: description;
}

.config {
    grid-area: config;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.component {
    grid-area: component;
}

.documentation {
    width: 50%;
    border-collapse: collapse;

    tr {
        font-family: Roboto, sans-serif;
        border-bottom: 1px solid #e6ecf1;
        td {
            padding: 8px;
        }
        &.header {
            color: #9daab6;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            border-bottom: 2px solid #e6ecf1;
            white-space: nowrap;
        }
    }
}
