@import '../../../themes/angular-theme/all-theme';
@import '../../../libs/angular-components/global-search/src/global-search-theme.component';
@import './app/components/repeater-demo/repeater-card-example/repeater-card-example.theme';
@import '~highlight.js/styles/github.css';
@import '../../../libs/angular-components/popover/src/popover.theme';

@include uxg-global-search-theme($uxg-light-theme);
@include theme-repeater-card-example($uxg-light-theme);
@include uxg-popover-theme($uxg-light-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px;
    padding: 32px;

    h1.mat-display-1 {
        flex-grow: 1;
        margin: 8px;
    }

    code {
        display: flex;
        align-items: center;
        margin-left: 8px;
        flex-grow: 1;
    }

    pre {
        margin: 8px;
        color: #414141;
        border-radius: 6px;

        code {
            display: block;
        }
    }
}
