@import '../../../themes/angular-theme/lib/core/core';
@import '../../../themes/angular-theme/lib/core/theming/all-theme';
@import '../../../themes/angular-theme/lib/core/typography/typography';
@import '../../../themes/angular-theme/theme-variables';

@import '../../../libs/angular-components/global-search/src/global-search.theme';
@import '../../../libs/angular-components/filter/filter-tags/src/filter-tags.theme';
@import '../../../libs/angular-components/filter/filter-tree/src/filter-tree.theme';
@import '../../../libs/angular-components/wizard/src/wizard.theme';

@import './app/components/repeater-demo/repeater-card-example/repeater-card-example.theme';

$uxg-typography: uxg-typography-config();

@include uxg-core();

@include uxg-filter-tags-typography($uxg-typography);
@include uxg-global-search-typography($uxg-typography);

@mixin app-theme($theme) {
    @include uxg-material-theme($theme);

    @include uxg-filter-tags-theme($theme);
    @include uxg-filter-tree-theme($theme);
    @include uxg-global-search-theme($theme);
    @include uxg-wizard-theme($theme);
    @include theme-repeater-card-example($theme);
}

@include app-theme($uxg-light-theme);

.uxg-dark-theme {
  @include app-theme($uxg-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px;
    padding: 32px;

    h1.mat-display-1 {
        flex-grow: 1;
        margin: 8px;
    }

    code {
        display: flex;
        align-items: center;
        margin-left: 8px;
        flex-grow: 1;
    }

    pre {
        margin: 8px;
        color: #414141;
        border-radius: 6px;

        code {
            display: block;
        }
    }
}

.uxg-wizard {
    .uxg-wizard-right-panel {
        background: linear-gradient(to right bottom, #0b0c3e 0, #1b1d5d 35%, #493696 85%, #694ed6 100%) !important;
    }
}
