@import "angular-theme/lib/core/core";
@import "angular-theme/lib/core/theming/all-theme";
@import "angular-theme/lib/core/typography/typography";
@import "angular-theme/theme-variables";

@import "global-search/src/global-search.theme";
@import "vector-map/src/vector-map.theme";
@import "chart/src/chart.theme";
@import "filter/filter-tags/src/filter-tags.theme";
@import "filter/filter-tree/src/filter-tree.theme";
@import "filter/filter-group/src/filter-group.theme";
@import "skeleton-text/src/skeleton-text.theme";
@import "wizard/src/wizard.theme";
@import "banner/src/banner.theme";
@import "changelog/src/changelog.theme";
@import "toaster/src/toaster.theme";
@import "video-thumbnail/src/video-thumbnail.theme";
@import "status-steps/status-stepper.theme";

@import "./app/components/repeater-demo/repeater-card-example/repeater-card-example.theme";

$uxg-typography: uxg-typography-config();

@include uxg-core();

@include uxg-filter-tags-typography($uxg-typography);
@include uxg-filter-group-typography($uxg-typography);
@include uxg-global-search-typography($uxg-typography);
@include uxg-chart-typography($uxg-typography);
@include uxg-changelog-typography($uxg-typography);
@include uxg-wizard-typography($uxg-typography);

@mixin app-theme($theme) {
  @include uxg-material-theme($theme);
  @include uxg-filter-group-theme($theme);
  @include uxg-filter-tags-theme($theme);
  @include uxg-filter-tree-theme($theme);
  @include uxg-global-search-theme($theme);
  @include uxg-vector-map-theme($theme);
  @include uxg-chart-theme($theme);
  @include uxg-wizard-theme($theme);
  @include uxg-banner-theme($theme);
  @include uxg-skeleton-text-theme($theme);
  @include theme-repeater-card-example($theme);
  @include uxg-changelog-theme($theme);
  @include uxg-toaster-theme($theme);
  @include uxg-video-thumbnail($theme);
  @include uxg-status-stepper-theme($theme);
}

@include app-theme($uxg-light-theme);

.uxg-dark-theme {
  @include app-theme($uxg-dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px;
  padding: 32px;

  h1.mat-display-1 {
    flex-grow: 1;
    margin: 8px;
  }

  code {
    display: flex;
    align-items: center;
    margin-left: 8px;
    flex-grow: 1;
  }

  pre {
    margin: 8px;
    color: #414141;
    border-radius: 6px;

    code {
      display: block;
    }
  }
}

.example-row {
  margin-top: $uxg-spacing-3;
  margin-left: $uxg-spacing-5;
  display: inline-block;
}

.block-test {
  display: flex;
  flex-direction: column;
  margin-bottom: 2 * $uxg-spacing-5;
  align-items: flex-start;
}
