@use "angular-theme" as fds;
@use "angular-theme/base";

@use "global-search/src/global-search.theme" as global-search;
@use "vector-map/src/vector-map.theme" as vector-map;
@use "chart/src/chart.theme" as chart;
@use "filter/filter-tags/src/filter-tags.theme" as filter-tags;
@use "filter/filter-tree/src/filter-tree.theme" as filter-tree;
@use "filter/filter-group/src/filter-group.theme" as filter-group;
@use "skeleton-text/src/skeleton-text.theme" as skeleton;
@use "wizard/src/wizard.theme" as wizard;
@use "banner/src/banner.theme" as banner;
@use "changelog/src/changelog.theme" as changelog;
@use "toaster/src/toaster.theme" as toaster;
@use "video-thumbnail/src/video-thumbnail.theme" as video-thumbnail;
@use "status-steps/status-stepper.theme" as status-stepper;
@use "cards/account-card/src/account-card.theme" as account-card;

@use "./app/components/repeater-demo/repeater-card-example/repeater-card-example.theme" as repeater;

@include fds.uxg-core();

@include filter-tags.typography(fds.$typography);
@include filter-group.typography(fds.$typography);
@include global-search.typography(fds.$typography);
@include chart.typography(fds.$typography);
@include changelog.typography(fds.$typography);
@include wizard.typography(fds.$typography);

@mixin app-theme($theme) {
  @include fds.uxg-material-theme($theme);
  @include filter-group.theme($theme);
  @include filter-tags.theme($theme);
  @include filter-tree.theme($theme);
  @include global-search.theme($theme);
  @include vector-map.theme($theme);
  @include chart.theme($theme);
  @include wizard.theme($theme);
  @include banner.theme($theme);
  @include skeleton.theme($theme);
  @include repeater.theme($theme);
  @include changelog.theme($theme);
  @include toaster.theme($theme);
  @include video-thumbnail.theme($theme);
  @include status-stepper.theme($theme);
  @include account-card.theme($theme);
}

@include app-theme(fds.$light-theme);

.uxg-dark-theme {
  @include app-theme(fds.$dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px;
  padding: 32px;

  h1.mat-display-1 {
    flex-grow: 1;
    margin: 8px;
  }

  code {
    display: flex;
    align-items: center;
    margin-left: 8px;
    flex-grow: 1;
  }

  pre {
    margin: 8px;
    color: #414141;
    border-radius: 6px;

    code {
      display: block;
    }
  }
}

.example-row {
  margin-top: fds.$uxg-spacing-3;
  margin-left: fds.$uxg-spacing-5;
  display: inline-block;
}

.block-test {
  display: flex;
  flex-direction: column;
  margin-bottom: 2 * fds.$uxg-spacing-5;
  align-items: flex-start;
}
