@use 'sass:math';
@use 'sass:string';

@function px-to-rem($px) {
  @return math.div($px, 16px) * 1rem;
}

$headline-font-family: string.unquote('Spartan') !default;
$font-family: string.unquote('Roboto') !default;
$properties: (
  font-family: $font-family,
  headline-font-family: $headline-font-family,
  headline-1: (
    font-family: $headline-font-family,
    font-size: px-to-rem(51px),
    line-height: px-to-rem(71px),
    font-weight: 800,
    letter-spacing: 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-2: (
    font-family: $headline-font-family,
    font-size: px-to-rem(41px),
    line-height: px-to-rem(57px),
    font-weight: 800,
    letter-spacing: 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-3: (
    font-family: $headline-font-family,
    font-size: px-to-rem(28px),
    line-height: px-to-rem(39px),
    font-weight: 800,
    letter-spacing: 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-4: (
    font-family: $headline-font-family,
    font-size: px-to-rem(21px),
    line-height: px-to-rem(29px),
    font-weight: 800,
    letter-spacing: 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-5: (
    font-family: $headline-font-family,
    font-size: px-to-rem(16px),
    line-height: px-to-rem(22px),
    font-weight: 800,
    letter-spacing: 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline-6: (
    font-family: $headline-font-family,
    font-size: px-to-rem(13px),
    line-height: px-to-rem(18px),
    font-weight: 800,
    letter-spacing: 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  subtitle-1: (
    font-family: $font-family,
    font-size: px-to-rem(16px),
    line-height: px-to-rem(24px),
    font-weight: 500,
    letter-spacing: 0.15px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  subtitle-2: (
    font-family: $font-family,
    font-size: px-to-rem(14px),
    line-height: px-to-rem(21px),
    font-weight: 500,
    letter-spacing: 0.1px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  subtitle-3: (
    font-family: $font-family,
    font-size: px-to-rem(12px),
    line-height: px-to-rem(18px),
    font-weight: 500,
    letter-spacing: 0.1px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  subtitle-4: (
    font-family: $font-family,
    font-size: px-to-rem(10px),
    line-height: px-to-rem(15px),
    font-weight: 500,
    letter-spacing: 0.1px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  body-1: (
    font-family: $font-family,
    font-size: px-to-rem(16px),
    line-height: px-to-rem(24px),
    font-weight: 300,
    letter-spacing: 0.5px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  body-2: (
    font-family: $font-family,
    font-size: px-to-rem(14px),
    line-height: px-to-rem(21px),
    font-weight: 300,
    letter-spacing: 0.25px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  body-3: (
    font-family: $font-family,
    font-size: px-to-rem(12px),
    line-height: px-to-rem(18px),
    font-weight: 300,
    letter-spacing: 0.25px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  body-4: (
    font-family: $font-family,
    font-size: px-to-rem(10px),
    line-height: px-to-rem(15px),
    font-weight: 300,
    letter-spacing: 0.25px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  button-1: (
    font-family: $font-family,
    font-size: px-to-rem(16px),
    line-height: px-to-rem(20px),
    font-weight: 700,
    letter-spacing: 1.25px,
    text-decoration: inherit,
    text-transform: none
  ),
  button-2: (
    font-family: $font-family,
    font-size: px-to-rem(14px),
    line-height: px-to-rem(20px),
    font-weight: 700,
    letter-spacing: 1.25px,
    text-decoration: inherit,
    text-transform: none
  ),
  button-3: (
    font-family: $font-family,
    font-size: px-to-rem(12px),
    line-height: px-to-rem(18px),
    font-weight: 700,
    letter-spacing: 1.25px,
    text-decoration: inherit,
    text-transform: none
  ),
  caption: (
    font-family: $font-family,
    font-size: px-to-rem(12px),
    line-height: px-to-rem(18px),
    font-weight: 400,
    letter-spacing: 0.4px,
    text-decoration: inherit,
    text-transform: inherit
  ),
  overline: (
    font-family: $font-family,
    font-size: px-to-rem(10px),
    line-height: px-to-rem(15px),
    font-weight: 500,
    letter-spacing: 1.5px,
    text-decoration: inherit,
    text-transform: inherit
  )
);
