@use '@finastra/fds-theme' as fds;

:host > button {
  @include fds.typography(subtitle-2);
  @include fds.color(on-surface-medium);
  @include fds.padding-x(3);

  display: inline-flex;
  align-items: center;
  border: none;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.2s ease;
  user-select: none;
  height: 36px;
  border-radius: 16px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
}

:host fds-icon {
  @include fds.margin(2, right);
  @include fds.color(on-surface-disabled);

  --fds-icon-size: 18px;

  width: 18px;
  transition: color 0.2s ease;

  &:only-child {
    margin: 0 !important;
  }
}

:host(.selected) > button,
:host(.selected) fds-icon {
  @include fds.color(primary);
}

:host([dense]) > button {
  @include fds.typography(subtitle-3);

  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
}

:host([dense]) fds-icon {
  @include fds.margin(1, right);

  --fds-icon-size: 16px;

  width: 16px;
}

:host(:not(.selected)) > button:hover,
:host(:not(.selected)) > button:focus {
  @include fds.background(surface-hover);
}
