import { waitForAsync, TestBed } from '@angular/core/testing';
import { <%= className %>Module } from './<%= filename %>.module';

describe('<%= className %>Module', () => {
  beforeEach(waitForAsync(() => {
    TestBed.configureTestingModule({
      imports: [<%= className %>Module]
    }).compileComponents();
  }));

  it('should create', () => {
    expect(<%= className %>Module).toBeDefined();
  });
});
