@use 'sass:list';
@use '@finastra/fds-theme' as fds;

$avatar-path: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:white%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M12 5.2c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z'/%3E%3C/svg%3E";
$fds-default-avatar: url($avatar-path) center center / 120% 120% no-repeat;

@mixin multiple-backgrounds($backgrounds...) {
  $multi-background: ();

  @each $background in $backgrounds {
    $multi-background: list.append($multi-background, $background, comma);
  }

  background: $multi-background;
}

.fds-avatar {
  height: var(--fds-avatar-size, 48px);
  width: var(--fds-avatar-size, 48px);
  border-radius: 50%;
  margin: 0;
  object-fit: cover;
  user-select: none;
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  @include fds.background(gradient-vertical);
  @include fds.color(on-gradient);
  @include fds.typography(body-3);

  font-size: var(--fds-avatar-font-size, 16px);

  &:empty:not(img) {
    @include multiple-backgrounds(
      $fds-default-avatar,
      top left / 100% 100% no-repeat linear-gradient(var(--fds-primary, #694ed6), var(--fds-secondary, #c137a2))
    );
  }
}

:host([dense]) {
  .fds-avatar {
    --fds-avatar-size: 24px;
    --fds-avatar-font-size: 14px;

    font-size: var(--fds-avatar-font-size, 14px);
  }
}

:host([large]) {
  .fds-avatar {
    --fds-avatar-size: 96px;
    --fds-avatar-font-size: 44px;

    font-size: var(--fds-avatar-font-size, 44px);
  }
}

:host([primary]) {
  .fds-avatar {
    @include fds.background(primary);

    &:empty:not(img) {
      @include multiple-backgrounds($fds-default-avatar, var(--fds-primary, #694ed6));
    }
  }
}

:host([secondary]) {
  .fds-avatar {
    @include fds.background(secondary);

    &:empty:not(img) {
      @include multiple-backgrounds($fds-default-avatar, var(--fds-secondary, #c137a2));
    }
  }
}
