<mat-tab-group>
  <mat-tab label="Vertical Filter" class="filter-panel-container">
    <mat-drawer-container class="filter-panel-container">
      <mat-drawer class="filter-panel-side" mode="side" #filterPanel opened>
        <div class="filter-panel-side-header">
          <div class="filter-panel-side-title">
            <h5 class="uxg-h5">View by</h5>
            <button
              mat-button
              (click)="
                demoFilter.clearSelection();
                demoFilterTags.clearSelection();
                toggleBtnFilter.reset();
                demoMultiselectTags.clearSelection()
              "
              color="accent"
              dense
            >
              <mat-icon>replay</mat-icon>
              Reset
            </button>
          </div>
          <div class="filter-panel-toggle">
            <uxg-filter-toggle
              #toggleBtnFilter
              [data]="sampleDataToggle"
              [showIcon]="true"
              [showLabel]="true"
              [dense]="false"
              (changes)="updateFilterToggle($event)"
            >
            </uxg-filter-toggle>
          </div>
        </div>

        <div class="filter-panel-tags">
          <div class="filter-panel-tags-title">
            <h5 class="uxg-h5">Tags</h5>
            <button mat-button (click)="demoFilterTags.clearSelection()" color="accent" dense>Clear all</button>
          </div>
          <uxg-filter-tags [data]="sampleDataTags" (changes)="updateFilterTags($event)" #demoFilterTags>
          </uxg-filter-tags>
        </div>

        <div class="filter-panel-tree">
          <div class="filter-panel-tree-title">
            <h5 class="uxg-h5">Usage Type</h5>
          </div>

          <uxg-multiselect-tags
            [data]="multiselectTagsSampleData"
            (changes)="updateMultiselectTags($event)"
            large
            #demoMultiselectTags
          >
          </uxg-multiselect-tags>
        </div>

        <div class="filter-panel-tree">
          <div class="filter-panel-tree-title">
            <h5 class="uxg-h5">Category</h5>
            <button mat-button (click)="demoFilter.clearSelection()" *ngIf="treeFilter?.length" color="accent" dense>
              Clear All
            </button>
          </div>

          <uxg-filter-tree [data]="sampleDataTree" (changes)="updateFilterTree($event)" #demoFilter></uxg-filter-tree>
        </div>
      </mat-drawer>

      <mat-drawer-content class="demo-container">
        <div class="filter-panel-action">
          <button
            mat-stroked-button
            color="primary"
            dense
            (click)="filterPanel.toggle()"
            matBadge="{{ treeFilter?.length || null }}"
            matBadgePosition="before"
            matBadgeColor="primary"
          >
            <mat-icon>filter_list</mat-icon>
            Filter
          </button>
        </div>

        <h5 class="uxg-h5">Filter Toggle Results</h5>
        <pre>{{ toggleFilter | json }}</pre>

        <h5 class="uxg-h5">Filter Tags Results</h5>
        <pre>{{ tagFilter | json }}</pre>

        <h5 class="uxg-h5">Filter Multiselect Tags Results</h5>
        <pre>{{ chosenMultiselectTags | json }}</pre>

        <h5 class="uxg-h5">Filter Tree Results</h5>
        <pre>{{ treeFilter | json }}</pre>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>
  <mat-tab label="Horizontal Filter" class="filter-panel-container">
    <mat-drawer-container class="filter-panel-container">
      <div class="filter-group-container">
        <uxg-filter-group
          [expanded]="false"
          [divideAtIndex]="[0]"
          (changes)="updateFilterGroup($event)"
          [showActions]="true"
        >
          <div class="filter-instance">
            <div class="uxg-h6">Time Frame</div>
            <uxg-filter-toggle
              uxgFilter="Time Frame"
              [data]="sampleDataTimeline"
              [showIcon]="false"
              [showLabel]="true"
              [dense]="false"
              (changes)="updateFilterToggle($event)"
            >
            </uxg-filter-toggle>
          </div>
          <div class="filter-instance">
            <div class="uxg-h6">Category</div>
            <uxg-filter-tree uxgFilter="Category" [data]="sampleDataTree" (changes)="updateFilterTree($event)">
            </uxg-filter-tree>
          </div>
          <div class="filter-instance">
            <div class="uxg-h6">Tags</div>
            <uxg-filter-tags uxgFilter="Tags" [data]="sampleDataTags" (changes)="updateFilterTags($event)">
            </uxg-filter-tags>
          </div>
          <div class="filter-instance">
            <div class="uxg-h6">Usage Type</div>
            <uxg-multiselect-tags
              uxgFilter="UsageType"
              [data]="multiselectTagsSampleData"
              (changes)="updateMultiselectTags($event)"
              large
            >
            </uxg-multiselect-tags>
          </div>
        </uxg-filter-group>
      </div>
      <div class="group-result">
        <h5 class="uxg-h5">Filter Group Results</h5>
        <pre>{{ groupFilter | json }}</pre>
      </div>
    </mat-drawer-container>
  </mat-tab>
</mat-tab-group>

<h2>Description</h2>
<p>The filter panel is a composition of several filter components</p>
<p>In this example we composed a filter using <code>uxg-filter-tree</code> component</p>
and one using <code>uxg-filter-tags</code> component.
<p>The idea is to have multiple filter component to allow the composition of complex filter</p>

<hr />

<h3>Filter tree</h3>
<p>The <code>uxg-filter-tree</code> component is based on the <code>mat-tree</code> from angular material.</p>
<p>It take a <code>datasource</code> as input, this input is a Nested tree node.</p>
<p>The output is the forwarding of the change object</p>

<h2>Properties</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>@Input()<br />datasource:TreeNode[]</td>
      <td>An array of tree node.</td>
    </tr>
    <tr>
      <td>@Output()<br />change: EventEmitter&lt;any&gt;</td>
      <td>Event emitted when the tree state change.</td>
    </tr>
  </tbody>
</table>

<h3>TreeNode Interface</h3>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Optional</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>label</td>
      <td>string</td>
      <td>no</td>
      <td>The display value for the node.</td>
    </tr>
    <tr>
      <td>children</td>
      <td>TreeNode[]</td>
      <td>yes</td>
      <td>The nested tree node.</td>
    </tr>
  </tbody>
</table>

<h2>Methods</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>clearSelection</td>
      <td>Clear selected node.</td>
    </tr>
    <tr>
      <td>toggleAllNodes</td>
      <td>Collapse all nodes.</td>
    </tr>
  </tbody>
</table>

<hr />

<h3>Filter tags</h3>
<p>
  The <code>uxg-filter-tags</code> component is based on <code>mat-autocomplete</code> and
  <code>mat-chip-list</code> from angular material.
</p>
<p>It takes a <code>datasource</code> as input, this input is an Array of strings displayed in the select list.</p>
<p>The output is the change object.</p>

<h2>Properties</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>@Input()<br />datasource:string[]</td>
      <td>An array of strings.</td>
    </tr>
    <tr>
      <td>@Output()<br />changes: EventEmitter&lt;any&gt;</td>
      <td>Event emitted when items are added or removed from the list of selected items.</td>
    </tr>
  </tbody>
</table>

<h2>Methods</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>clearSelection</td>
      <td>Clear selected items.</td>
    </tr>
  </tbody>
</table>
