<mat-drawer-container class="filter-panel-container">
  <mat-drawer class="filter-panel-side" mode="side" #filterPanel opened>
    <div class="filter-panel-side-header">
      <div class="filter-panel-side-title">
        <h5 class="uxg-h5">View by</h5>
        <button mat-button (click)="demoFilter.clearSelection(); groupValue = initialGroupState" color="accent" dense>
          <mat-icon>replay</mat-icon>
          Reset
        </button>
      </div>
      <div class="filter-panel-button-toggle">
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          [value]="groupValue"
          (change)="onGroupChange(group.value)"
        >
          <mat-button-toggle value="api">
            <mat-icon fontSet="material-icons-outlined">public</mat-icon>
            <span>API</span>
          </mat-button-toggle>
          <mat-button-toggle value="solution">
            <mat-icon fontSet="material-icons-outlined">widgets</mat-icon>
            <span>Solution</span>
          </mat-button-toggle>
          <mat-button-toggle value="dataset" disabled>
            <mat-icon fontSet="material-icons-outlined">dns</mat-icon>
            <span>Dataset</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div class="filter-panel-tags">
      <div class="filter-panel-tags-title">
        <h5 class="uxg-h5">Tags</h5>
        <button mat-button (click)="demoFilterTags.clearSelection()" color="accent" dense>
          Clear all
        </button>
      </div>
      <uxg-filter-tags [data]="tagsSampleData" (changes)="updateFilterTags($event)" #demoFilterTags> </uxg-filter-tags>
    </div>

    <div class="filter-panel-tree">
      <div class="filter-panel-tree-title">
        <h5 class="uxg-h5">Category</h5>
        <button mat-button (click)="demoFilter.clearSelection()" *ngIf="filterExpression?.length" color="accent" dense>
          Clear All
        </button>
      </div>

      <uxg-filter-tree [data]="sampleData" (changes)="updateFilter($event)" #demoFilter></uxg-filter-tree>
    </div>
  </mat-drawer>

  <mat-drawer-content class="demo-container">
    <div class="filter-panel-action">
      <button
        mat-stroked-button
        color="primary"
        dense
        (click)="filterPanel.toggle()"
        matBadge="{{ filterExpression?.length || null }}"
        matBadgePosition="before"
        matBadgeColor="primary"
      >
        <mat-icon>filter_list</mat-icon>
        Filter
      </button>
    </div>

    <h5 class="uxg-h5">Filter Tags Results</h5>
    <pre>{{ chosenTags | json }}</pre>

    <h5 class="uxg-h5">Filter Tree Results</h5>
    <pre>{{ filterExpression | json }}</pre>
  </mat-drawer-content>
</mat-drawer-container>

<h2>Description</h2>
<p>The filter panel is a composition of several filter components</p>
<p>In this example we composed a filter using <code>uxg-filter-tree</code> component</p>
and one using <code>uxg-filter-tags</code> component.
<p>The idea is to have multiple filter component to allow the composition of complex filter</p>

<hr />

<h3>Filter tree</h3>
<p>The <code>uxg-filter-tree</code> component is based on the <code>mat-tree</code> from angular material.</p>
<p>It take a <code>datasource</code> as input, this input is a Nested tree node.</p>
<p>The output is the fowarding of the change object</p>

<h2>Properties</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>@Input()<br />datasource:TreeNode[]</td>
      <td>An array of tree node.</td>
    </tr>
    <tr>
      <td>@Output()<br />change: EventEmitter&lt;any&gt;</td>
      <td>Event emitted when the tree state change.</td>
    </tr>
  </tbody>
</table>

<h3>TreeNode Interface</h3>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Optional</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>label</td>
      <td>string</td>
      <td>no</td>
      <td>The display value for the node.</td>
    </tr>
    <tr>
      <td>children</td>
      <td>TreeNode[]</td>
      <td>yes</td>
      <td>The nested tree node.</td>
    </tr>
  </tbody>
</table>

<h2>Methods</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>clearSelection</td>
      <td>Clear selected node.</td>
    </tr>
    <tr>
      <td>toggleAllNodes</td>
      <td>Collapse all nodes.</td>
    </tr>
  </tbody>
</table>

<hr />

<h3>Filter tags</h3>
<p>
  The <code>uxg-filter-tags</code> component is based on <code>mat-autocomplete</code> and
  <code>mat-chip-list</code> from angular material.
</p>
<p>It takes a <code>datasource</code> as input, this input is an Array of strings displayed in the select list.</p>
<p>The output is the change object.</p>

<h2>Properties</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>@Input()<br />datasource:string[]</td>
      <td>An array of strings.</td>
    </tr>
    <tr>
      <td>@Output()<br />changes: EventEmitter&lt;any&gt;</td>
      <td>Event emitted when items are added or removed from the list of selected items.</td>
    </tr>
  </tbody>
</table>

<h2>Methods</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>clearSelection</td>
      <td>Clear selected items.</td>
    </tr>
  </tbody>
</table>
