@import 'angular-theme/lib/core/style/spacing';

.uxg-h5 {
  margin: 22px 0 22px !important;
}

.filter-panel-container {
  height: 100%;
  border: 1px solid rgba(0,0,0,.04);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.filter-panel-side {
  width: auto !important;
  min-width: 352px;
  max-width: 352px;
}

.filter-panel-side-header {
  min-height: 166px;
  // background-color: #fafafa;
}

.filter-panel-side-title {
  padding: 25px 0 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  h3 {
    margin-top: 0px;
  }
}

.filter-panel-action {
  display: flex;
  align-items: center;
}

.filter-panel-tree {
  padding: 0 25px 0 25px;
}

.filter-panel-tree-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.demo-container {
  padding: 32px;
}

.filter-panel-tags {
  padding: 0 25px 0 25px;
}

.filter-panel-tags-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.documentation{
  width: 50%;
  border-collapse: collapse;
  tr {
    font-family: Roboto, sans-serif;
    border-bottom: 1px solid #E6ECF1;
    td {
      padding: 8px;
    }
    &.header{
      color: #9DAAB6;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      border-bottom: 2px solid #E6ECF1;
      white-space: nowrap;
    }
  }
}

:host ::ng-deep .mat-tab-body {
  min-height: calc(100vh - 160px);
}

.filter-group-container {
  padding: 25px;
  height: 60px;
}

.group-result {
  padding: 0 25px;
}

.filter-instance {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  min-width: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.filter-panel-toggle {
  display: flex;
  padding: 0 $uxg-spacing-4;
}
