<mat-drawer-container class="filter-panel-container">
    <mat-drawer class="filter-panel-side" mode="side" #filterPanel opened>
        <div class="filter-panel-side-header">
            <mat-button-toggle-group class="uxg-filtering-toggle-group">
                <mat-button-toggle value="public" checked="true">
                    <mat-icon>public</mat-icon>
                    <span>API</span>
                </mat-button-toggle>
                <mat-button-toggle value="public">
                    <mat-icon>widgets</mat-icon>
                    <span>Solution</span>
                </mat-button-toggle>
                <mat-button-toggle value="public">
                    <mat-icon>dns</mat-icon>
                    <span>Dataset</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <uxg-filter-panel [fieldNode]="sampleData" (change)="updateFilter($event)" #demoFilter></uxg-filter-panel>
    </mat-drawer>

    <mat-drawer-content>
        <div class="filter-panel-action">
            <button mat-stroked-button color="primary" dense (click)="filterPanel.toggle()">
                <mat-icon>filter_list</mat-icon>
                Filter
            </button>
            <button mat-icon-button aria-label="Toggle filter panel" (click)="demoFilter.clearSelection()">
                <mat-icon>replay</mat-icon>
            </button>
        </div>
        <mat-list>
            <h3 mat-subheader>Tenants</h3>
            <mat-list-item *ngFor="let tenant of filteredTenants">
                <mat-icon mat-list-icon>streetview</mat-icon>
                <h4 mat-line>{{tenant.name}}</h4>
                <p mat-line> {{tenant.updated | date}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Companies</h3>
            <mat-list-item *ngFor="let company of filteredCompanies">
                <mat-icon mat-list-icon>storefront</mat-icon>
                <h4 mat-line>{{company.name}}</h4>
                <p mat-line> {{company.updated | date}} </p>
            </mat-list-item>
        </mat-list>
    </mat-drawer-content>
</mat-drawer-container>