@use '@finastra/fds-theme' as fds;

:host {
  display: block;
  @include fds.mdc(text-field-label-ink-color, on-surface-medium);
  @include fds.mdc(text-field-disabled-fill-color, surface-disabled);
  @include fds.mdc(text-field-disabled-ink-color, on-surface-disabled);
  @include fds.mdc(text-field-disabled-line-color, on-surface-disabled);

  ::slotted(.fds-list-item__hide) {
    display: none;
  }
}

fds-search-input {
  width: 100%;
}

.fds-autocomplete {
  position: relative;
  display: inline-flex;
  width: 100%;
}
