<h5 class="uxg-h5">Default Avatar</h5>
<div fxLayout class="example-row">
  <uxg-user-profile-menu [user]="vinh" headerType="hero"></uxg-user-profile-menu>
  <uxg-user-profile-menu color="primary" [user]="vinh" headerType="hero"></uxg-user-profile-menu>
  <uxg-user-profile-menu color="accent" [user]="vinh" headerType="hero"></uxg-user-profile-menu>
  <uxg-user-profile-menu color="initials" [user]="user0" headerType="hero"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="razvan" headerType="hero"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="thomas" headerType="hero"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="vinh" defaultGravatar="monsterid" headerType="hero"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="vinh" defaultGravatar="mp" headerType="title"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="vinh" defaultGravatar="identicon"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="vinh" defaultGravatar="wavatar"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="vinh" defaultGravatar="retro"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="vinh" defaultGravatar="robohash"></uxg-user-profile-menu>

  <uxg-user-profile-menu [user]="user1"></uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="user2" defaultGravatar="robohash"></uxg-user-profile-menu>
</div>

<h5 class="uxg-h5">Avatar with actions</h5>
<div fxLayout class="example-row">
  <uxg-user-profile-menu [user]="vinh">
    <ng-template uxgUserProfilePanelActions>
      <button mat-flat-button color="primary" dense>
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </ng-template>
  </uxg-user-profile-menu>
  <uxg-user-profile-menu color="primary" [user]="user0" headerType="hero">
    <ng-template uxgUserProfilePanelActions>
      <button mat-flat-button color="primary" dense>
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-button color="primary" dense>View profile</button>
    </ng-template>
  </uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="user2" defaultGravatar="robohash" headerType="hero">
    <ng-template uxgUserProfilePanelActions>
      <button mat-flat-button color="primary" dense>
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
      <button mat-button color="primary" dense>View profile</button>
    </ng-template>
  </uxg-user-profile-menu>
</div>

<h5 class="uxg-h5">Avatar with contents and actions and details</h5>
<div fxLayout class="example-row">
  <uxg-user-profile-menu color="initials" [user]="vinh" headerType="hero">
    <ng-template uxgUserProfilePanelDetails>
      <div class="uxg-subtitle-1">Employee of the month</div>
      <div class="uxg-subtitle-2">Finastra</div>
      <div class="uxg-subtitle-3">Design System Team</div>
    </ng-template>
    <ng-template uxgUserProfilePanelActions>
      <button mat-flat-button color="primary" dense>
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </ng-template>
  </uxg-user-profile-menu>
  <uxg-user-profile-menu [user]="user1">
    <ng-template uxgUserProfilePanelDetails>
      <div class="uxg-subtitle-3">Design System Team</div>
    </ng-template>
    <ng-template uxgUserProfilePanelContent>
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        Item one
      </button>
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        Item two
      </button>
    </ng-template>

    <ng-template uxgUserProfilePanelActions>
      <button mat-flat-button color="primary" dense>
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </ng-template>
  </uxg-user-profile-menu>
  <!-- <uxg-user-profile-menu [user]="user2" defaultGravatar="robohash"></uxg-user-profile-menu> -->
</div>
