<h1 class="uxg-display-3">Avatars</h1>
<h5 class="uxg-h5">Default Avatar</h5>
<div fxLayout class="example-row">
  <uxg-avatar large></uxg-avatar>
  <uxg-avatar></uxg-avatar>
  <uxg-avatar dense></uxg-avatar>
</div>

<h5 class="uxg-h5">Colored Avatar</h5>
<div fxLayout class="example-row">
  <uxg-avatar color="primary"></uxg-avatar>
  <uxg-avatar color="accent"></uxg-avatar>
  <uxg-avatar></uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar with Initials</h5>
<div fxLayout class="example-row">
  <uxg-avatar large>Raya Hristova</uxg-avatar>
  <uxg-avatar>rhristova</uxg-avatar>
  <uxg-avatar dense>Raya</uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar with Initials and Colors</h5>
<div fxLayout class="example-row">
  <uxg-avatar color="initials">RB</uxg-avatar>
  <uxg-avatar color="initials">RH</uxg-avatar>
  <uxg-avatar color="initials">TT</uxg-avatar>
  <uxg-avatar color="initials">DB</uxg-avatar>
  <uxg-avatar color="initials">FO</uxg-avatar>
  <uxg-avatar color="initials">JS</uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar with Image</h5>
<div fxLayout class="example-row">
  <uxg-avatar large>
    <img src="https://randomuser.me/api/portraits/women/17.jpg" />
  </uxg-avatar>
  <uxg-avatar>
    <img src="https://randomuser.me/api/portraits/women/17.jpg" />
  </uxg-avatar>
  <uxg-avatar dense>
    <img src="https://randomuser.me/api/portraits/women/17.jpg" />
  </uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar List</h5>
<div class="example-row">
  <uxg-avatar-list totalLength="10">
    <uxg-avatar>
      <img src="https://randomuser.me/api/portraits/men/5.jpg" />
    </uxg-avatar>
    <uxg-avatar>
      <img src="https://randomuser.me/api/portraits/men/6.jpg" />
    </uxg-avatar>
    <uxg-avatar></uxg-avatar>
    <uxg-avatar color="initials">RB</uxg-avatar>
    <uxg-avatar>
      <img src="https://randomuser.me/api/portraits/men/7.jpg" />
    </uxg-avatar>
    <uxg-avatar color="initials">TT</uxg-avatar>
  </uxg-avatar-list>
</div>

<h5 class="uxg-h5">Avatar List Dense</h5>
<div class="example-row">
  <uxg-avatar-list totalLength="10" dense>
    <uxg-avatar>
      <img src="https://randomuser.me/api/portraits/men/5.jpg" />
    </uxg-avatar>
    <uxg-avatar>
      <img src="https://randomuser.me/api/portraits/men/6.jpg" />
    </uxg-avatar>
    <uxg-avatar></uxg-avatar>
    <uxg-avatar color="initials">R</uxg-avatar>
  </uxg-avatar-list>
</div>
