<h1 class="uxg-display-3">Avatars</h1>
<h5 class="uxg-h5">Default Avatar</h5>
<div fxLayout class="example-row">
  <uxg-avatar large></uxg-avatar>
  <uxg-avatar></uxg-avatar>
  <uxg-avatar dense></uxg-avatar>
</div>

<h5 class="uxg-h5">Colored Avatar</h5>
<div fxLayout class="example-row">
  <uxg-avatar color="primary"></uxg-avatar>
  <uxg-avatar color="accent"></uxg-avatar>
  <uxg-avatar></uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar with Initials</h5>
<div fxLayout class="example-row">
  <uxg-avatar large name="Raya Hristova"></uxg-avatar>
  <uxg-avatar name="rhristova"></uxg-avatar>
  <uxg-avatar dense name="Raya"></uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar with Initials and Colors</h5>
<div fxLayout class="example-row">
  <uxg-avatar color="initials" name="RB"></uxg-avatar>
  <uxg-avatar color="initials" name="RH"></uxg-avatar>
  <uxg-avatar color="initials" name="TT"></uxg-avatar>
  <uxg-avatar color="initials" name="FO"></uxg-avatar>
  <uxg-avatar color="initials" name="JS"></uxg-avatar>
  <uxg-avatar color="initials" name="AM"></uxg-avatar>
</div>

<h5 class="uxg-h5">Gravatars</h5>
<div fxLayout class="example-row">
  <uxg-avatar gravatarEmail="default"></uxg-avatar>
  <uxg-avatar gravatarEmail="razvan.bordeanu@gmail.com"></uxg-avatar>
  <uxg-avatar gravatarEmail="thomas.talbot@gmail.com"></uxg-avatar>
  <uxg-avatar defaultGravatar="monsterid"></uxg-avatar>
  <uxg-avatar defaultGravatar="mp"></uxg-avatar>
  <uxg-avatar defaultGravatar="identicon"></uxg-avatar>
  <uxg-avatar defaultGravatar="wavatar"></uxg-avatar>
  <uxg-avatar defaultGravatar="retro"></uxg-avatar>
  <uxg-avatar defaultGravatar="robohash"></uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar with Image</h5>
<div fxLayout class="example-row">
  <uxg-avatar large>
    <ng-template uxgImageAvatar>
      <img src="https://randomuser.me/api/portraits/women/17.jpg" />
    </ng-template>
  </uxg-avatar>
  <uxg-avatar>
    <ng-template uxgImageAvatar>
      <img src="https://randomuser.me/api/portraits/women/17.jpg" />
    </ng-template>
  </uxg-avatar>
  <uxg-avatar dense>
    <ng-template uxgImageAvatar>
      <img src="https://randomuser.me/api/portraits/women/17.jpg" />
    </ng-template>
  </uxg-avatar>
</div>

<h5 class="uxg-h5">Avatar List</h5>
<div class="example-row">
  <uxg-avatar-list totalLength="10">
    <uxg-avatar>
      <ng-template uxgImageAvatar>
        <img src="https://randomuser.me/api/portraits/men/5.jpg" />
      </ng-template>
    </uxg-avatar>
    <uxg-avatar>
      <ng-template uxgImageAvatar>
        <img src="https://randomuser.me/api/portraits/men/6.jpg" />
      </ng-template>
    </uxg-avatar>
    <uxg-avatar></uxg-avatar>
    <uxg-avatar color="initials" name="RB"></uxg-avatar>
    <uxg-avatar>
      <ng-template uxgImageAvatar>
        <img src="https://randomuser.me/api/portraits/men/7.jpg" />
      </ng-template>
    </uxg-avatar>
    <uxg-avatar color="initials" name="TT"></uxg-avatar>
  </uxg-avatar-list>
</div>

<h5 class="uxg-h5">Avatar List Dense</h5>
<div class="example-row">
  <uxg-avatar-list totalLength="10" dense>
    <uxg-avatar>
      <ng-template uxgImageAvatar>
        <img src="https://randomuser.me/api/portraits/men/5.jpg" />
      </ng-template>
    </uxg-avatar>
    <uxg-avatar>
      <ng-template uxgImageAvatar>
        <img src="https://randomuser.me/api/portraits/men/6.jpg" />
      </ng-template>
    </uxg-avatar>
    <uxg-avatar></uxg-avatar>
    <uxg-avatar color="initials" name="Raya" dense></uxg-avatar>
  </uxg-avatar-list>
</div>
