@use '@finastra/fds-theme' as fds;

:host {
  display: inline-flex;
  outline: none;

  --fds-icon-size: 18px;
  --fds-icon-size-large: 24px;
  --fds-button-radius: 18px;
  --fds-button-radius-large: 24px;
  --fds-button-dense-padding-y: 6px;
  --fds-button-large-padding-y: 10px;
  --fds-button-overlay: white;
}

:host > button {
  @include fds.typography('button-2');
  @include fds.color('on-primary');
  @include fds.padding-x(3);
  @include fds.padding-y(2);

  --fds-icon-color: var(--fds-on-primary, #694ed6);

  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--fds-button-radius);
  border: none;
  outline: none;
  cursor: pointer;

  &::after {
    border-radius: var(--fds-button-radius);
    background: var(--fds-button-overlay);
    content: '';
    inset: 0;
    position: absolute;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  &:hover::after {
    opacity: 0.04;
  }

  &:focus::after {
    opacity: 0.12;
  }

  .fds-button__label::first-letter {
    text-transform: capitalize;
  }
}

:host > button > fds-icon:last-child {
  @include fds.margin(2, left);
}

:host > button > fds-icon:first-child {
  @include fds.margin(2, right);
}

:host([gradient]) > button {
  @include fds.background(gradient-vertical);
  @include fds.color(on-gradient);
}

:host([fullWidth]) {
  width: 100%;
}

:host([dense]) > button {
  @include fds.typography('button-3');
  @include fds.padding-x(3);

  padding-top: var(--fds-button-dense-padding-y);
  padding-bottom: var(--fds-button-dense-padding-y);
}

:host([large]) > button {
  @include fds.typography('button-1');
  @include fds.padding-x(4);

  --fds-icon-size: var(--fds-icon-size-large);
  --fds-button-radius: var(--fds-button-radius-large);

  padding-top: var(--fds-button-large-padding-y);
  padding-bottom: var(--fds-button-large-padding-y);
}

:host([on-dark]) > button {
  --fds-button-overlay: black;
}

:host([disabled]) {
  pointer-events: none;

  > button {
    &:hover::after {
      opacity: 0;
    }
  }
}
