@use 'sass:color';
@use '@finastra/fds-theme' as fds;

:host > button {
  @include fds.property('border-color', primary);

  padding-top: calc(var(--fds-spacing-2, 8px) - 1px);
  padding-bottom: calc(var(--fds-spacing-2, 8px) - 1px);
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}

:host([secondary]) > button {
  @include fds.property('border-color', secondary);
}

:host([gradient]) > button {
  // Todo: border color using gradient token
  // with border-radius and bg transparency.
  @include fds.property('border-color', primary);
}

:host([success]) > button {
  @include fds.property('border-color', success);
}

:host([error]) > button {
  @include fds.property('border-color', error);
}

:host([on-dark]) > button {
  @include fds.property('border-color', on-dark);
}

:host([dense]) > button {
  padding-top: calc(var(--fds-button-dense-padding-y) - 1px);
  padding-bottom: calc(var(--fds-button-dense-padding-y) - 1px);
}

:host([large]) > button {
  padding-top: calc(var(--fds-button-large-padding-y) - 1px);
  padding-bottom: calc(var(--fds-button-large-padding-y) - 1px);
}

:host([disabled]) > button {
  @include fds.property('border-color', on-surface-disabled);
}
