<div class="main-container">
  <mat-sidenav-container class="uxg-nav">
    <mat-sidenav #sidenav mode="over" fixedInViewport="true" [autoFocus]="false">
      <div class="uxg-nav-header">
        <mat-card class="uxg-card-product" extra-dense routerLink="/">
          <span class="uxg-h5 uxg-card-product-name">DS</span>
        </mat-card>
        <h6 class="uxg-h6">DESIGN SYSTEM</h6>
      </div>
      <mat-nav-list class="uxg-nav-list" (click)="sidenav.toggle()" dense>
        <ng-container *ngFor="let nestedRoute of nestedRoutes">
          <h3 mat-subheader>{{ nestedRoute.title }}</h3>
          <ng-container *ngFor="let route of nestedRoute.routes">
            <a mat-list-item [routerLink]="route.path" routerLinkActive="uxg-list-item-selected">
              <p>{{ route.data?.title }}</p>
            </a>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="uxg-toolbar uxg-toolbar-elevated">
        <button
          class="uxg-nav-header-button"
          mat-icon-button
          color="primary"
          (click)="sidenav.toggle()"
          aria-label="Menu button"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <div class="uxg-toolbar-logo-small"></div>
        <ul class="uxg-breadcrumb">
          <li class="uxg-h6"><a routerLink="/">DESIGN SYSTEM</a></li>
          <li *ngIf="title">{{ title }}</li>
        </ul>
        <span class="fill-remaining-space"></span>
        <mat-slide-toggle class="theme-toggle" [checked]="dark" (change)="toggleTheme()">Dark</mat-slide-toggle>
      </mat-toolbar>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
      <uxg-scroll-to-top parentElementSelector="mat-sidenav-content" [showAfter]="100"></uxg-scroll-to-top>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
