.uxg-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.uxg-nav {
    flex: 1;
    height: 100%;
}

.uxg-nav > .uxg-sidenav-content {
    margin-top: 56px;
    overflow-y: auto;
}

.uxg-sidenav {
    margin-top: 56px;
    width: 340px;
}

.uxg-nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .uxg-card-product {
        cursor: pointer;
        width: 45px;
        margin-bottom: 10px;
    }
}