@import 'angular-theme/lib/core/style/spacing';

.main-container {
  height: 100%;
  width: 100%;
}
mat-sidenav-container {
  height: 100%;
}
.uxg-nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .uxg-card-product {
    cursor: pointer;
    width: 45px;
    margin-bottom: 10px;
  }
}
.app-content {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  overflow: auto;
}

.theme-toggle {
  margin-left: $uxg-spacing-3;
}