.main-container {
    height: 100%;
    width: 100%;
}

.uxg-nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .uxg-card-product {
        cursor: pointer;
        width: 45px;
        margin-bottom: 10px;
    }
}

.app-content {
    height: 100%;
    background: linear-gradient(180deg,#ebebeb 0,#fafafa 5%,#fafafa 100%);
    padding: 2vw;
}