@use '@finastra/card/src' as base-card;
@use '@finastra/fds-theme' as fds;

:host {
  @include base-card.core-styles;

  .mdc-card--disabled ::slotted(*) {
    @include fds.color(on-surface-disabled);
  }

  slot::slotted(img) {
    width: calc(100% + 32px);
    margin: -16px -16px 16px;
    display: block;
    overflow: hidden;
  }
}
