@use '@finastra/fds-theme' as fds;

:host {
  display: block;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: calc(var(--fds-spacing-2, 8px) + 2px);
  padding: 0;
  margin: 0;

  li {
    @include fds.typography(body-2);
    @include fds.property(color, on-surface);

    &:not(:last-child)::after {
      content: var(--fds-breadcrumb-divider, '/');
      padding-left: var(--fds-spacing-2, 8px);
      color: var(--fds-breadcrumb-divider-color, inherit);
    }

    a {
      @include fds.color(on-surface);

      text-decoration: none;
    }
  }
}
