@use '@finastra/fds-theme' as fds;

:host {
  .fds-data-table-with-pagination-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: flex-end flex-start;
    align-items: flex-end;

    fds-data-table {
      width: 100%;
    }

    fds-data-table-pagination {
      margin-top: var(--fds-spacing-2, 8px);
    }
  }
}

:host([dense]) {
  .fds-data-table-with-pagination-wrapper {
    fds-data-table-pagination {
      margin-top: var(--fds-spacing-1, 4px);
    }
  }
}
