@import "angular-theme/lib/core/style/spacing";

.demo {
    display: flex;
}

uxg-entity-menu {
    padding-left: $uxg-spacing-3;
}
mat-expansion-panel {
    width: 400px;
    .description {
        overflow-wrap: break-word;
    }
}

.documentation {
    width: 50%;
    border-collapse: collapse;
    tr {
        font-family: Roboto, sans-serif;
        border-bottom: 1px solid #e6ecf1;
        td {
            padding: $uxg-spacing-2;
        }
        &.header {
            color: #9daab6;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            border-bottom: 2px solid #e6ecf1;
            white-space: nowrap;
        }
    }
}

.view-all {
    text-align: center;
    display: block;
    margin-bottom: $uxg-spacing-0;
}
