<div class="demo">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> SELECT DATA </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>select data</mat-label>
      <mat-select [(ngModel)]="currentTemplate" [value]="currentTemplate" (selectionChange)="updateTemplate()">
        <mat-option *ngFor="let template of templatesData" [value]="template">
          {{ template.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>select field</mat-label>
      <mat-select (selectionChange)="updateColumnMatcher($event.value)" [(value)]="columnsMatcherExample">
        <mat-option *ngFor="let column of columnsExample" [value]="column.title">
          {{ column.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="description" fxLayout="column" *ngIf="actionDescription">
      <h3>Output:</h3>
      <p>
        {{ actionDescription }}
      </p>
      <p *ngIf="actionEvent.which === 2">Middle click</p>
      <p *ngIf="actionEvent.ctrlKey">Control key was pressed</p>
      <p *ngIf="actionEvent.metaKey">Command key was pressed</p>
    </div>
  </mat-expansion-panel>

  <uxg-entity-menu
    [title]="title"
    [data]="dataSourceExample"
    [property]="columnsMatcherExample"
    [abbreviationLength]="length"
    (itemClick)="displayItem($event)"
  >
    <uxg-entity-menu-actions>
      <a class="uxg-body-3 view-all" href="/">View All</a>
    </uxg-entity-menu-actions>
  </uxg-entity-menu>
</div>

<h2>Description</h2>
The entity-menu component is a floating panel containing list of options.
<p>
  it takes mainly a <code>data</code> (datasource) and a <code>title</code> as input and displays the options in cards.
</p>
<p>If you want to :</p>
<p>- Match a datasource column with one of your template data, you should provide <code>columnsMatcher</code> input.</p>
<p>
  - Change the abbreviation length of the options' title, you should modify the <code>abbreviationLength</code> input.
</p>
<h2>Inputs</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Default Value</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>title</td>
      <td>string</td>
      <td>Title</td>
      <td>the menu's title</td>
    </tr>
    <tr>
      <td>data</td>
      <td>any[]</td>
      <td></td>
      <td>An array of any data</td>
    </tr>
    <tr>
      <td>property</td>
      <td>string</td>
      <td></td>
      <td>A string representing the correspondance between a data column and the component's template data</td>
    </tr>
    <tr>
      <td>abbreviationLength</td>
      <td>number</td>
      <td>1</td>
      <td>The number of initials you want to extract from the title</td>
    </tr>
  </tbody>
</table>

<h2>Outputs</h2>
<table class="documentation">
  <tbody>
    <tr class="header">
      <td>Property</td>
      <td>Type</td>
      <td>Default Value</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>itemClick</td>
      <td>EventEmitter&lt;any&gt;</td>
      <td></td>
      <td>Click Event</td>
    </tr>
  </tbody>
</table>
