@use '@finastra/fds-theme' as fds;

:host {
  display: block;
  @include fds.property(background, surface-selected);

  --fds-icon-button-color: var(--fds-primary);

  border-radius: 50%;
  @include fds.margin(3, bottom);

  fds-badge {
    --fds-icon-button-size: 32px;
  }

  fds-icon-button {
    color: var(--fds-primary);
  }
}

.current {
  fds-icon-button {
    @include fds.background(gradient-vertical);

    color: var(--fds-on-primary);
    border-radius: 50%;
  }

  .label {
    @include fds.property(color, secondary);

    cursor: pointer;
  }
}

.icon-button {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  position: absolute;
  margin-bottom: 38px;
  bottom: calc(var(--fds-spacing-4) * -1);
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  @include fds.typography(body-3);
  @include fds.property(color, on-surface-medium);
}

// .showLabels {
//   .label {
//     margin-bottom: 0;
//   }
// }
