@use 'sass:color';
@use 'sass:string';

$_black: black;
$_white: white;
$primary: #917ee0 !default;
$secondary: #e453bf !default;
$background: #191919 !default;
$surface: #242424 !default;
$outline: color.change($_white, $alpha: 0.12) !default;
$success: #26d07c !default;
$error: #ff1a5e !default;
$warning: #ff880a !default;
$gradient: linear-gradient(var(--fds-primary, #917ee0), var(--fds-secondary, #e453bf)) !default;
$on-primary: #000 !default;
$on-secondary: #000 !default;
$on-background: #fff;
$on-surface: #fff !default;
$on-error: #000 !default;
$on-success: #000 !default;
$on-gradient: #000 !default;
$on-light: color.change($_black, $alpha: 0.75);
$on-dark: $_white;
$properties: (
  primary: $primary,
  primary-lighter: color.change($primary, $alpha: 0.08),
  secondary: $secondary,
  secondary-lighter: color.change($secondary, $alpha: 0.08),
  background: $background,
  surface: $surface,
  surface-hover: color.change($primary, $alpha: 0.04),
  surface-selected: color.change($primary, $alpha: 0.08),
  surface-disabled: color.change($_white, $alpha: 0.12),
  surface-success: color.change($success, $alpha: 0.03),
  surface-error: color.change($error, $alpha: 0.04),
  surface-info: color.change($primary, $alpha: 0.03),
  surface-warning: color.change($warning, $alpha: 0.02),
  outline: $outline,
  outline-success: color.change($success, $alpha: 0.5),
  outline-error: color.change($error, $alpha: 0.5),
  outline-info: color.change($primary, $alpha: 0.4),
  outline-warning: color.change($warning, $alpha: 0.3),
  success: $success,
  error: $error,
  info: $primary,
  warning: $warning,
  gradient: $gradient,
  gradient-horizontal: string.insert($gradient, '90deg ,', string.index($gradient, '(') + 1),
  gradient-vertical: $gradient,
  on-primary: $on-primary,
  on-secondary: $on-secondary,
  on-background: $on-background,
  on-surface: $on-surface,
  on-surface-medium: color.change($_white, $alpha: 0.54),
  on-surface-disabled: color.change($_white, $alpha: 0.29),
  on-error: $on-error,
  on-success: $on-success,
  on-gradient: $on-gradient,
  on-light: $on-light,
  on-dark: $on-dark,
  // Chart
  chart-semantic-palette1: '#26D07C',
  chart-semantic-palette2: '#FF1A5E',
  chart-semantic-palette3: '#FF880A',
  chart-categorical-palette: '#8A72E0,#F470B2,#F1A423,#FFDD22,#97D9E6,#505050',
  chart-focus1-palette: '#168BDE,#694ED6,#505050',
  chart-focus2-palette: '#E259F7,#F470B2,#505050',
  chart-focus1-angular-palette: '#168BDE,#8A72E0,#8A72E0,#168BDE,#505050',
  chart-focus2-angular-palette: '#E259F7,#F470B2,#F470B2,#E259F7,#505050',
  chart-sequential-1: '#2A285C,#3A327B,#4A3B99,#5945B8,#694ED6,#8A72E0,#AB96EB,#CCB9F5,#EDDDFF',
  chart-sequential-2: '#571235,#7D214E,#A43067,#CA3F7F,#F04E98,#F470B2,#F891CC,#FBB3E5,#FFD4FF',
  chart-categorical-label-color: '#FFFFFF,#000000,#000000,#000000,#000000,#000000'
);
