@use 'sass:color';
@use 'sass:string';

$_black: black;
$_white: white;

$primary: #694ED6 !default;
$secondary: #C137A2 !default;
$background: #FAFAFA !default;
$surface: #FFFFFF !default;
$outline: color.change($_black, $alpha: 0.12) !default;
$success: #008744 !default;
$error: #D60040 !default;
$warning: #FF600A !default;
$gradient: linear-gradient(var(--fds-primary, #694ED6), var(--fds-secondary, #C137A2)) !default;
$on-primary: #FFFFFF !default;
$on-secondary: #FFFFFF !default;
$on-background: color.change($_black, $alpha: 0.75) !default;
$on-surface: #000000 !default;
$on-error: #FFFFFF !default;
$on-success: #FFFFFF !default;
$on-gradient: #FFFFFF !default;
$on-light: color.change($_black, $alpha: 0.75);
$on-dark: $_white;

$properties: (
  primary: $primary,
  primary-lighter: color.change($primary, $alpha: 0.08),
  secondary: $secondary,
  secondary-lighter: color.change($secondary, $alpha: 0.08),
  background: $background,
  surface: $surface,
  surface-hover: color.change($primary, $alpha: 0.04),
  surface-selected: color.change($primary, $alpha: 0.08),
  surface-disabled: color.change($_black, $alpha: 0.12),
  surface-success: color.change($success, $alpha: 0.03),
  surface-error: color.change($error, $alpha: 0.03),
  surface-info: color.change($primary, $alpha: 0.03),
  surface-warning: color.change($error, $alpha: 0.02),
  outline: $outline,
  outline-success: color.change($success, $alpha: 0.5)
  outline-error: color.change($error, $alpha: 0.5)
  outline-info: color.change($primary, $alpha: 0.4)
  outline-warning: color.change($warning, $alpha: 0.3)
  success: $success,
  error: $error,
  info: $primary,
  warning: $warning,
  gradient: $gradient,
  gradient-horizontal: string.insert($gradient, '90deg ,', string.index($gradient, '(') + 1),
  gradient-vertical: $gradient,
  on-primary: $on-primary,
  on-secondary: $on-secondary,
  on-background: $on-background,
  on-surface: $on-surface,
  on-surface-medium: color.change($_black, $alpha: 0.54),
  on-surface-disabled: color.change($_black, $alpha: 0.29),
  on-error: $on-error,
  on-success: $on-success,
  on-gradient: $on-gradient,
  on-light: $on-light,
  on-dark: $on-dark
)
