@use 'sass:map';
@use './variables';

@mixin custom-properties() {
  :root {
    @each $style, $variable in variables.$properties {
      --fds-#{$style}: #{$variable};
    }
  }
}

@mixin helper-classes() {
  @each $style, $variable in variables.$properties {
    .fds-#{$style} {
      color: #{$variable};
    }
    .fds-#{$style}-bg {
      background: #{$variable};
    }
  }
}

@mixin bg-color($style){
  $bg-color: map.get(variables.$properties, $style);
  background-color: var(--fds-#{$style}, #{$bg-color});
}

@mixin text-color($style) {
  $bg-color: map.get(variables.$properties, $style);
  color: var(--fds-#{$style}, #{$bg-color});
}