:host {
  display: block;
}

::slotted(fds-expansion-panel-item:first-of-type) {
  border-top-right-radius: var(--fds-spacing-1, 4px);
  border-top-left-radius: var(--fds-spacing-1, 4px);
}

::slotted(fds-expansion-panel-item:last-of-type) {
  border-bottom-right-radius: var(--fds-spacing-1, 4px);
  border-bottom-left-radius: var(--fds-spacing-1, 4px);
}
