@use '@finastra/fds-theme' as fds;
@use '@finastra/card/src' as base-card;

:host {
  @include base-card.core-styles;

  width: 160px;
  height: 120px;

  .mdc-card {
    padding: 0 !important;
  }

  .brand-card {
    width: 160px;
    height: 120px;
  }

  .brand-card-decoration {
    &.pattern {
      top: -32px;
    }

    &.ribbon {
      bottom: -32px;
    }
  }
}

.brand-card {
  display: flex;
}

:host([large]) {
  width: 320px;
  height: 240px;

  .brand-card {
    width: 320px;
    height: 240px;

    .brand-card-label {
      @include fds.typography(headline-1);
    }

    .brand-card-decoration {
      &.pattern {
        top: -63px;
      }

      &.ribbon {
        bottom: -64px;
      }
    }
  }
}

:host([dense]) {
  width: 120px;
  height: 90px;

  .brand-card {
    width: 120px;
    height: 90px;

    .brand-card-label {
      @include fds.typography(headline-5);
    }

    .brand-card-decoration {
      &.pattern {
        top: -24px;
      }

      &.ribbon {
        bottom: -24px;
      }
    }
  }
}

:host([extraDense]) {
  width: 100px;
  height: 70px;

  .brand-card {
    width: 100px;
    height: 70px;

    .brand-card-label {
      @include fds.typography(headline-5);
    }

    .brand-card-decoration {
      &.pattern {
        top: -17px;
      }

      &.ribbon {
        bottom: -18px;
      }
    }
  }
}

:host([large][dense]),
:host([dense][extraDense]),
:host([large][extraDense]) {
  @include base-card.core-styles;

  width: 160px;
  height: 120px;

  .brand-card {
    width: 160px;
    height: 120px;
  }

  .brand-card-decoration {
    &.pattern {
      top: -32px;
    }

    &.ribbon {
      bottom: -32px;
    }
  }
}

.brand-card-label {
  @include fds.typography(headline-3);

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  @include fds.color(on-background);
}

.brand-card-decoration {
  position: absolute;
  width: inherit;
  height: inherit;

  .ribbon-primary {
    @include fds.fill(primary);
  }

  .ribbon-secondary {
    @include fds.fill(secondary);
  }
}
