@import '../../../../themes/fds-theme/prebuilt/all-themes.css';

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: var(--mdc-theme-background);
}

.top-app-bar__title {
  display: flex;
  align-items: end;
}

.main {
  display: flex;
  height: calc(100vh - 64px);
}

.main-content {
  display: grid;
  padding: 16px;
  height: 100%;
  row-gap: 16px;
  column-gap: 16px;
  justify-items: start;
  margin: 0 auto;
  grid-template-rows: 16px auto;
}

fds-logo {
  margin-right: 16px;
}

.list-components {
  width: 240px;
  border-right: 1px solid rgb(0 0 0 / 15%);
}

.intro {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro h1,
h2,
h3 {
  text-align: center;
}

.intro h2 {
  color: var(--mdc-theme-secondary);
  line-height: 3rem;
  margin: 32px;
}

.intro h3 {
  color: var(--mdc-theme-primary);
  margin: 16px;
}

a {
  text-decoration: none;
}

.list-components a fds-list-item,
.list-components a fds-icon {
  color: var(--mdc-theme-on-surface);
}
