<h2>Default Account Card</h2>
<div class="accounts-list">
  <ng-container *ngIf="accounts$ | async as accounts; else loading">
    <uxg-account-card
      *ngFor="let account of accounts"
      [name]="account.name"
      [balance]="account.balance"
      [currency]="account.currency"
      [number]="account.number"
    ></uxg-account-card>
  </ng-container>

  <ng-template #loading>
    <uxg-account-card-skeleton></uxg-account-card-skeleton>
    <uxg-account-card-skeleton></uxg-account-card-skeleton>
    <uxg-account-card-skeleton></uxg-account-card-skeleton>
    <uxg-account-card-skeleton></uxg-account-card-skeleton>
  </ng-template>
</div>

<br />

<h2>Selectable Account Card</h2>
<div class="accounts-list">
  <uxg-account-card
    [name]="accounts[0].name"
    [balance]="accounts[0].balance"
    [currency]="accounts[0].currency"
    [number]="accounts[0].number"
    [selected]="true"
    [selectedWithCheckIcon]="true"
  ></uxg-account-card>

  <uxg-account-card
    [name]="accounts[1].name"
    [balance]="accounts[1].balance"
    [currency]="accounts[1].currency"
    [number]="accounts[1].number"
    [selected]="true"
  ></uxg-account-card>
</div>
