name: Angular PR CI
on:
  pull_request:
    paths:
      - 'apps/angular-test-app/**'
      - 'themes/angular-theme/**'
      - 'libs/angular-components/**'
      - 'package.json'
      - 'angular.json'

jobs:
  check_wc_label:
    runs-on: ubuntu-latest
    name: Check labels
    steps:
      - name: output labels
        run: echo ${{join(github.event.pull_request.labels.*.name, ',')}}
      - name: Exit if label `web-component` is found
        if: contains(github.event.pull_request.labels.*.name, 'web-component')
        run: exit 1

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: NX Setup
        shell: bash
        run: |
          if [[ $GITHUB_BASE_REF ]]
          then
            export NX_BASE=remotes/origin/$GITHUB_BASE_REF
          else
            export NX_BASE=$(git rev-parse HEAD~1)
          fi
          echo "Base => $NX_BASE"
          echo "NX_BASE=$NX_BASE" >> $GITHUB_ENV

      # Setup
      - name: Install Dependencies
        run: npm ci --loglevel=error
      - name: Build DevKit
        run: npm run build:devkit

        # Test
      # - name: Lint affected files
      #   run: npm run affected:lint -- --base=$NX_BASE --parallel
      - name: Check formatting
        run: npm run format:check -- --base=$NX_BASE --parallel
      - name: Run affected unit tests
        run: npm run affected:test -- --base=$NX_BASE --parallel

        # Angular build
      - name: Build Test App
        run: npm run build -- --prod
      - name: Build Angular Theme
        run: npm run build angular-theme -- --prod
      - name: Build Angular Components
        run: npm run build angular-components
      - name: Upload Angular Theme Artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: 'angular-theme'
          path: './themes/angular-theme'
      - name: Upload Angular Components Artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: 'angular-components'
          path: './dist/libs/angular-components'
        # Fds build
      - name: Build Fds test App
        run: npm run build:fds-test-app -- --prod
        # Deploy
      - name: Deploy angular test app to Netlify
        uses: nwtgck/actions-netlify@v1.1
        with:
          publish-dir: './dist/apps/angular-test-app'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: 'Deploy angular app from GitHub Actions'
          enable-pull-request-comment: false
          enable-commit-comment: true
          overwrites-pull-request-comment: true
          alias: deploy-preview-${{ github.event.number }}
          github-deployment-environment: Netlify
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
