name: Cypress tests
on:
  push:
    path:
      - 'themes/angular-theme/**'

jobs:
  init:
    runs-on: ubuntu-16.04

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cypress run
        uses: cypress-io/github-action@v1
        with:
          working-directory: ./
          start: npm start
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          # path: cypress/snapshots/**/__diff_output__
          path: cypress/snapshots
