on:
  push:
    branch:
      - 'master'
    tags:
      - v*

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: true

      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: NX Setup
        shell: bash
        run: |
          git fetch origin master
          git checkout -qf FETCH_HEAD

        # Setup
      - name: Install Dependencies
        run: npm ci --loglevel=error
      - name: Build DevKit
        run: npm run build:devkit

        # Test
      - name: Content list
        uses: enricomarino/actions@v2
      - name: Lint affected files
        run: npm run affected:lint -- --base=origin/master --parallel
      - name: Check formatting
        run: npm run format:check -- --base=origin/master --parallel
      - name: Run affected unit tests
        run: npm run affected:test -- --base=origin/master --parallel

        # Build
      - name: Build Test App
        run: npm run build -- --prod
      - name: Build Angular Theme
        run: npm run build angular-theme -- --prod
      - name: Build Angular Components
        run: npm run build angular-components
      - name: Upload Angular Theme Artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: "uxg-angular-theme"
          path: "./dist/themes/angular-theme"
      - name: Upload Angular Components Artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: "uxg-angular-components"
          path: "./dist/libs/angular-components"

        # Publish
      - name: Publish Components
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.FFDC_BOT_NPM_AUTH_TOKEN }}
          package: ./dist/libs/angular-components/package.json
      - name: Publish Theme
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.FFDC_BOT_NPM_AUTH_TOKEN }}
          package: ./dist/themes/angular-theme/package.json

        # Deploy
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.1
        with:
          publish-dir: "./dist/apps/angular-test-app"
          production-branch: master
          production-deploy: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1