name: Release
on:
  workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main
          token: ${{ secrets.FINASTRA_BOT_GITHUB_TOKEN }}
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci --loglevel=error
        env:
          SKIP_POST_INSTALL: true

      - name: Get latest draft release
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ github.token }}
          exclude_types: "prerelease|release"
      - name: Extract version number
        run: |
          string="${{ steps.last_release.outputs.tag_name }}"
          version=$(echo "$string" | grep -oP '(?<=@)[\d\.]+')
          echo "RELEASE_VERSION=${version}" >> $GITHUB_ENV
          echo "Version number is: $version"

      - name: Build tokens
        run: npm run build:tokens
      - name: Build theme web
        run: npm run build:theme-web
      - name: Build theme tippy
        run: npm run build:theme-tippy
      - name: Build components web
        run: npm run build
      - name: Generate WC Documentation
        run: npm run wca:md

      - name: Setup git user
        uses: fregante/setup-git-user@v2

      - name: Publish to NPM
        run: |
          npx lerna publish ${{ env.RELEASE_VERSION }} --force-publish --no-commit-hooks --yes --exact --tag-version-prefix='fds@'
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish GH release
        uses: release-drafter/release-drafter@v5
        with:
          version: ${{ env.RELEASE_VERSION }}
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}